@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CurtisRhodes.com</title>
    <link rel="shortcut icon" src="~/Images/brain02.ico" type="image/x-icon" />
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="~/Scripts/GlobalFunctions.js"></script>
    <link href="~/Styles/fixedHeader.css" rel="stylesheet" />
    <style>
        body {
            background-color: #222730; /* #273235; #486167;*/
            color: #fff;
        }

        .headerTitle {
            color: #333;
        }

        .bannerImage {
        }

        .menuTab a:hover {
            background-color: #eee;
        }
    </style>
</head>
<body>

    <div id="idheader" class="standardHeader">
        <div class="bannerImageContainer">
            <a href="~/Consulting/ConsultingHome"><img src="~/images/intel01.jpg" class="bannerImage" /></a>
        </div>
        <div class="headerBodyContainer">
            <div class="headerTitle">
                Intelligent Design Software
            </div>
            <div class="menuTabContainer">
                <div class="menuTab floatLeft"><a href="~/Consulting/About/">Who We Are</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Approach">Our Approach</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Portfolio">Portfolio</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Code">Sample Code</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Articles">Articles</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Contact">Contact Us</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/MyResume">My Resume</a></div>
                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab floatRight"><a href="javascript:callLogout()">Log Out</a></div>
                    <div class="menuTab floatRight" title="modify profile"><a href="javascript:callProfilePopup()">Hello  @User.Identity.GetUserName()</a></div>
                }
                else
                {
                    <div class="menuTab floatRight"><a href="javascript:callRegisterPopup()">Register</a></div>
                    <div class="menuTab floatRight"><a href="javascript:callLoginPopup()">Log In</a></div>
                }
            </div>
        </div>
        <div class="noFloat"></div>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>
    @Html.Partial("_IdFooter")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ResizeThreeColumnPage.js"></script>
    <script>resizePage();</script>
</body>
</html>


