<link href="~/Styles/carousel.css" rel="stylesheet" />
<script src="~/Scripts/Carousel.js"></script>
<div class="centeredDivShell randomImageContainer">
    <div class="centeredDivInner">
        <div id="categoryTitle" class="floatingLabel" onmouseover="showFolderCategoryDialog()"></div>
        <div id="laCarousel" class="carouselContainer">
            <div class="carouselImageContainer">
                <img id="thisCarouselImage" oncontextmenu="carouselContextMenu()" class="carouselImage" src="~/Images/ingranaggi3.gif" onclick="clickViewGallery()" />
                <div class="imgBottom">
                    <img class="speedButton floatLeft" src="~/Images/speedDialSlower.png" title="slower" onclick="clickSpeed('slower')" />
                    <div id="pauseButton" class='pauseButton' onclick="togglePause()">||</div>
                    <div id='categoryLabel' class='carouselCategoryLabel' onclick="clickViewParentGallery()"></div>
                    <img class="speedButton floatRight" src="~/Images/speedDialFaster.png" title="faster" onclick="clickSpeed('faster')" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carouselContextMenu" class="ogContextMenu" onmouseleave="considerHidingContextMenu()">
    <div id="ctxModelName" onclick="carouselContextMenuAction('showDialog')">model name</div>
    <div id="ctxSeeMore" onclick="carouselContextMenuAction('seeMore')">See More</div>
    <div onclick="carouselContextMenuAction('explode')">Explode</div>
    <div onclick="carouselContextMenuAction('comment')">Comment</div>
    <div onclick="carouselContextMenuAction('tags')">Tags</div>
    <div id="ctxMove" onclick="carouselContextMenuAction('archive')">Archive</div>
</div>

<div>@Html.Partial("_ModelInfoDialog")</div>
<div>@Html.Partial("_CategoryDialog")</div>
<div>@Html.Partial("_ImageCommentDialog")</div>

<script>
    var service = '@ViewBag.Service';
    var isPornEditor = '@ViewBag.IsPornEditor';

    $(document).ready(function () {
        window.addEventListener("resize", resizeCarousel);
        resizeCarousel();

    });


</script>
