@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Get a Gig</title>
    <link rel="shortcut icon" src="~/Images/GetaJob.ico" type="image/x-icon" />
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="~/Scripts/GlobalFunctions.js"></script>
    <script src="~/Scripts/ResizeThreeColumnPage.js"></script>
    <link href="~/Styles/fixedHeader.css" rel="stylesheet" />
    <style>
        body {
            background-color: #ddd; /* #273235; #486167;*/
            color: #000;
        }

        .standardHeader {
            background-color: #fff;
        }

        .bannerImage {
            height: 70px;
        }

        .menuTab a:hover {
            background-color: #74bac3;
        }
    </style>
</head>
<body>
    <div id="getaJobHeader" class="standardHeader">
        <div class="bannerImageContainer">
            <a href="~/GetaJob/"><img src="~/Images/Apps/GetaJob.png" class="bannerImage" /></a>
        </div>
        <div class="headerBodyContainer">
            <div class="headerTitle">Get a Gig</div>
            <div class="menuTabContainer">
                <div class="menuTab floatLeft"><a href="~/GetaJob/ResumeAdmin/">Resume</a></div>
                <div class="menuTab floatLeft"><a href="~/Consulting/Approach">Job Search</a></div>
                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab floatRight"><a href="javascript:callLogout()">Log Out</a></div>
                    <div class="menuTab floatRight" title="modify profile"><a href="javascript:callProfilePopup()">Hello  @User.Identity.GetUserName()</a></div>
                }
                else
                {
                    <div class="menuTab floatRight"><a href="javascript:callRegisterPopup()">Register</a></div>
                    <div class="menuTab floatRight"><a href="javascript:callLoginPopup()">Log In</a></div>
                }
            </div>
        </div>
        <div class="noFloat"></div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    @Html.Partial("_GetaJobFooter")
    @RenderSection("scripts", required: false)
    <script>resizePage();</script>
</body>
</html>
