@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Get a Gig</title>
    <link rel="shortcut icon" src="~/Images/GetaJob.ico" type="image/x-icon" />
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="~/Scripts/GlobalFunctions.js"></script>
    <script src="~/Scripts/ResizeThreeColumnPage.js"></script>
    <link href="~/Styles/fixedHeader.css" rel="stylesheet" />
    <style>
        body {
            background-color: #ddd; /* #273235; #486167;*/
            color: #000;
        }

        .standardHeader {
            background-color: #fff;
        }

        .bannerImage {
            height: 70px;
        }

        .menuTab a:hover {
            background-color: #74bac3;
        }
    </style>
</head>
<body>
    <div id="getaJobHeader" class="standardHeader">
        <div class="bannerImageContainer">
            <a href="~/GetaJob/"><img id="" src="~/Images/Apps/GetaJob.png" class="bannerImage" /></a>
        </div>
        <div class="headerBodyContainer">
            <div class="headerTitle">Get a Gig</div>
            <div class="menuTabContainer">
                <div class="menuTab floatLeft"><a href="~/Home/Index/">CurtisRhodes.com</a></div>
                <div class="menuTab floatLeft"><a href="~/GetaJob/JobSearch">Job Search</a></div>
                <div class="menuTab floatLeft"><a href="~/GetaJob/GetaJobAdmin">Edit</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/MyResume/">My Resume</a></div>
                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab floatRight"><a href="javascript:logoutPlease()">Log Out</a></div>
                    <div class="menuTab floatRight" title="modify profile"><a href="javascript:profilePease()">Hello  @User.Identity.GetUserName()</a></div>
                }
                else
                {
                    <div class="menuTab floatRight"><a href="javascript:registerPlease()">Register</a></div>
                    <div id="btnLayLogin" class="menuTab floatRight">
                        <a href="javascript:loginPlease()">Log In</a>
                        <img id="btnHeaderLoginSpinner" class="btnSpinnerImage" src="~/Images/loader.gif" />
                    </div>
                }
            </div>
        </div>
        <div class="noFloat"></div>
    </div>
    <div id="customMessage" class="customMessageBox">
        <div class="customMessageTitleBar">
            <div id="customMessageTitle" class="customMessageTitleText"> </div>
            <div id="customMessagebtnClose" class="customMessageCloseButton" onclick="javascript:$('#customMessage').hide();">
                <img height="19" src="~/Images/powerOffRed01.png" />
            </div>
        </div>
        <div id="customMessageText" class="alegro"></div>
    </div>

    <div class="body-content">

        @RenderBody()
    </div>
    @Html.Partial("_GetaJobFooter")
    <div id="modalContainer" class="modalVail">
        <div id="modalContent"></div>
    </div>
    @RenderSection("scripts", required: false)
    <script>resizePage();</script>
</body>
</html>
