@{
    ViewBag.Title = "Admin";
}
<link href="~/Styles/crudEdit.css" rel="stylesheet" />

<style>
    #resumeVertMenu {
        width: 165px;    
        border-right: solid 1px orange;
        display: none;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div id="getaJobVertMenu" class="vertMenu">
            <div class="vertMenuTab" onclick="showOption('JobSearch')">Job Search</div>
            <div class="vertMenuTab" onclick="showOption('SearchActivity')">Job Search Activity</div>
            <div class="vertMenuTab" onclick="showOption('JobListings')">Job Listings</div>
            <div class="vertMenuTab" onclick="showOption('AgentsAgencies')">Agents and Angencies</div>
            <div class="vertMenuTab" onclick="showOption('Edit Resume')">Edit Resume</div>
            <div class="vertMenuTab" onclick="showOption('Add Skills')" >Add Skills</div>
            <div class="vertMenuTab" onclick="showOption('Manage Refs')">Manage Refs</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>

        <div id="resumeVertMenu" class="vertMenu">
            <div class="vertMenuTab" onclick="showOption('Resume Elements')">Build Resume</div>
            <div class="vertMenuTab" onclick="showOption('Add New Resume')">Add New Resume</div>
            <div class="vertMenuTab" onclick="showOption('Resume Sections')">>Resume Sections</div>
            <div class="vertMenuTab" onclick="showOption('Lost Jobs')">Lost Jobs</div>
        </div>

        <div class="adminOptionContainer">
            <div id="tabJobSearch" class="adminOption">
                @Html.Partial("_JobSearch")
            </div>
            <div id="tabSearchActivity" class="adminOption">
                @Html.Partial("_SearchActivity")
            </div>
            <div id="tabJobListing" class="adminOption">
                @Html.Partial("_JobListing")
            </div>
            <div id="tabAgents" class="adminOption">
                @Html.Partial("_AgentsAgencies")
            </div>
            <div id="tabAddSkills" class="adminOption">
                @Html.Partial("_AddEditSkills")
            </div>
            <div id="tabJobjRefs" class="adminOption">
                @Html.Partial("_AddEditRefs")
            </div>

            <div id="tabElements" class="adminOption">
                @Html.Partial("_BuildResume")
            </div>
            <div id="tabResume" class="adminOption">
                @Html.Partial("_AddEditResume")
            </div>
            <div id="tabSections" class="adminOption">
                @Html.Partial("_AddEditSections")
            </div>
            <div id="tabAddJobs" class="adminOption">
                @Html.Partial("_AddEditJobs")
            </div>
        </div>


    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var currentUser = '@ViewBag.UserId';
    var personName = '@User.Identity.Name';
    var selectedJobSearch = new Object();

    $(document).ready(function () {
        setLayout('GetaJob');
        $(".adminOption").hide();
        if ('@User.Identity.IsAuthenticated' == "False") {
            $('#getaJobVertMenu').hide();
            var msg = "You must <span class='clickable' onclick='registerPlease()'>Register</span> or <span onclick='loginPlease()' class='clickable'>Login</span> to use this feature";
            showCustomMessage("User data kept private", msg);
        }
        else {
            getActiveJobSearch();

            $('.vertMenuTab').mouseout(function () {
                $(this).css('background-color', '#74bac3').css('color', '#000');
            });
            $('.vertMenuTab').mouseover(function () {
                $(this).css('background-color', '#4163aa').css('color', '#e4e4e4');
            });
        }
    });

    function showOption(option) {
        switch (option) {
            case "JobSearch":
                if ($("#jobSearchList").html() == "")
                    getJobSearches();
                $('#tabJobSearch').show();
                break;
            case "SearchActivity":
                $('#currentJobSearch').html(selectedJobSearch.SearchName);
                //if ($("#ddEmploymentType").html() == "")
                    loadActivityDropDowns();
                $('#tabSearchActivity').show();
                break;
            case "JobListings":
                $('#currentJobSearch').html(selectedJobSearch.SearchName);
                //if ($("#ddEmploymentType").html() == "")
                loadListingDropDowns();
                $('#tabJobListing').show();
                break;
            case "AgentsAgencies":
                $('#tabAgents').show();
                loadAgencyList();
                break;
            case "Edit Resume":
                $('#resumeVertMenu').toggle();
                break;
            case "Add Skills":
                $('#tabAddSkills').show();
                break;
            case "Manage Refs":
                $('#tabJobjRefs').show();
                break;

            case "Resume Elements":
                $('#tabElements').show();
                break;
            case "Add New Resume":
                $('#tabResume').show();
                break;
            case "Resume Sections":
                $('#tabSections').show();
                break;
            case "Lost Jobs":
                $('#tabAddJobs').show();
                break;
            default:
                alert(option + "?");
        }
    }

    function getActiveJobSearch() {        
        $.ajax({
            type: "GET",
            url: service + "/api/JobSearch/GetActive?personId=" + currentUser + "&placeholder=boogers",
            success: function (response) {
                if (response.SearchName == "No Active Search Found") {
                    var msg = "Please create a new job search";
                    showCustomMessage("No Active Search Found", msg);
                }
                else {
                    if (!response.SearchName.startsWith("ERROR")) {
                        selectedJobSearch.Id = response.Id;
                        selectedJobSearch.SearchName = response.SearchName;
                    }
                    else {
                        alert("getActiveJobSearch: " + response.SearchName)
                    }
                }
            },
            error: function (jqXHR, exception) {
                alert("getActiveJobSearch xhr error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function closeCustomMessageBox() {
        if ($('#customMessageTitle').html == "User data kept private") {
             alert("closeCustomMessageBox()");
            window.location.href = "/Home/Index";
        }
    }

</script>

