
@{
    ViewBag.Title = "Admin";
}
<link href="~/Styles/admin.css" rel="stylesheet" />
<link href="~/Styles/crudEdit.css" rel="stylesheet" />

<style>
    .itemsList {
        height: 250px;
        overflow-y: auto;
    }
    /*.adminOptionContainer {
        width: 1000px;
    }*/
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div id="getaJobVertMenu" class="vertMenu">
            <div class="vertMenuTab" id="optJobSearch" onclick="showOption('JobSearch')">Job Search</div>
            <div class="vertMenuTab" id="optActivity" onclick="showOption('SearchActivity')">Job Search Activity</div>
            <div class="vertMenuTab" id="optListings" onclick="showOption('JobListings')">Job Listings</div>
            <div class="vertMenuTab" id="optAgents" onclick="showOption('AgentsAgencies')">Agents and Angencies</div>
            <div class="vertMenuTab" id="optResume" onclick="showOption('Edit Resume')">Edit Resume</div>
            <div class="vertMenuTab" id="optSkills">Add Skills</div>
            <div class="vertMenuTab" id="optSkills">Manage Refs</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>

        <div class="adminOptionContainer">
            <div id="tabJobSearch" class="adminOption">
                @Html.Partial("_JobSearch")
            </div>
            <div id="tabSearchActivity" class="adminOption">
                @Html.Partial("_SearchActivity")
            </div>
            <div id="tabJobListing" class="adminOption">
                @Html.Partial("_JobListing")
            </div>
            <div id="tabAgents" class="adminOption">
                @Html.Partial("_AgentsAgencies")
            </div>
            <div id="tabAddSkills" class="adminOption">
            </div>
            <div id="tabGajRefs" class="adminOption">
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var currentUser = '@ViewBag.UserId';
    var personName = '@User.Identity.Name';
    var selectedJobSearch = new Object();

    $(document).ready(function () {
        setLayout('GetaJob');

        if ('@User.Identity.IsAuthenticated' == "False") {

            //alert("is Authenticated: " + '@User.Identity.IsAuthenticated');


            $('#getaJobVertMenu').hide();

            var msg = "You must <span class='clickable' onclick='registerPlease()'>Register</span> or <span onclick='loginPlease()' class='clickable'>Login</span> to use this feature";
            showCustomMessage("User data kept private", msg);
        }
        else {

            //alert("says user is Authenticated: " + currentUser );
            //alert("says user is Authenticated: " + currentUser + " :" + personName);

            getActiveJobSearch();

            $('.vertMenuTab').mouseout(function () {
                $(this).css('background-color', '#74bac3').css('color', '#000');
            });
            $('.vertMenuTab').mouseover(function () {
                $(this).css('background-color', '#4163aa').css('color', '#e4e4e4');
            });
        }
    });

    function showOption(option) {
        $('.adminOption').hide();
        switch (option) {
            case "JobSearch":
                if ($("#jobSearchList").html() == "")
                    getJobSearches();
                $('#tabJobSearch').show();
                break;
            case "SearchActivity":
                $('#currentJobSearch').html(selectedJobSearch.SearchName);
                //if ($("#ddEmploymentType").html() == "")
                    loadActivityDropDowns();
                $('#tabSearchActivity').show();
                break;
            case "JobListings":
                $('#currentJobSearch').html(selectedJobSearch.SearchName);
                //if ($("#ddEmploymentType").html() == "")
                loadListingDropDowns();
                $('#tabJobListing').show();
                break;
            case "AgentsAgencies":
                $('#tabAgents').show();
                loadAgencyList();
                break;
            case "Edit Resume":
                window.location.href = "/Resume/ResumeAdmin";
                break;
            default:
        }
    }

    function getActiveJobSearch() {        
        $.ajax({
            type: "GET",
            url: service + "/api/JobSearch/GetActive?personId=" + currentUser + "&placeholder=boogers",
            success: function (response) {
                if (response.SearchName == "No Active Search Found") {
                    var msg = "Please create a new job search";
                    showCustomMessage("No Active Search Found", msg);
                }
                else {
                    if (!response.SearchName.startsWith("ERROR")) {
                        selectedJobSearch.Id = response.Id;
                        selectedJobSearch.SearchName = response.SearchName;
                    }
                    else {
                        alert("getActiveJobSearch: " + response.SearchName)
                    }
                }
            },
            error: function (jqXHR, exception) {
                alert("getActiveJobSearch xhr error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function closeCustomMessageBox() {
        if ($('#customMessageTitle').html == "User data kept private") {
             alert("closeCustomMessageBox()");
            window.location.href = "/Home/Index";
        }
    }

</script>

