
@model WebApi.Models.ResponseModel


<div class="jumbotron">
    <h1>Burcheum API</h1>
    <p class="lead">This is a Web Service. Not intended to be accessed directly</p>
    v 5.12.2019.0


    <div id="msgArea">@Model.Response</div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Journal Service</h2>
        <p>Content is stored in XML and delivered to nicely formatted pages. None of this exists yet.</p>
        <p><button onclick="location.href='@Url.Action("JournalTest")';return false;">Test</button></p>
    </div>
    <div class="col-md-4">
        <h2>Images Service</h2>
        <p>Upload (post) and retrieve (get) Images. This took way too long</p>
        <p><button onclick="location.href='@Url.Action("ImageTest")';return false;">Test</button></p>

    </div>
    <div class="col-md-4">
        <h2>Article Service</h2>
        <p>A Lot of other services have been added. </p>
        <p><button onclick="location.href='@Url.Action("ArticleTest", "Home")';return false;">Test Insert</button></p>
        <p><button onclick="location.href='@Url.Action("ArticleTest", "Home", new {Id="5b52ef6d-db24-4bc2-86ad-714fc06fcb6e" })';return false;">Test Edit</button></p>
        <p></p>


        <form action="~/Home/EmailTest" method="post">
            <p><button type="submit">Test Email</button></p>
        </form>
    </div>
</div>
