@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Brucheum</title>
    <link href="~/Styles/default.css" rel="stylesheet" />
    <link href="~/Styles/fixedHeader.css" rel="stylesheet" />
    <link href="~/Styles/footer.css" rel="stylesheet" />
    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="~/Scripts/GlobalFunctions.js"></script>
    <script src="~/Scripts/ResizeThreeColumnPage.js"></script>
    <script src="~/Scripts/LayoutHeaders.js"></script>
</head>
<body>
    <div id="loadingGif" style="display:none">
        <div style="position: absolute; left: 50%; top:40%">
            <div style="position:relative; left: -50%; border:dotted red 1px;">
                <div class="loadingGif"><img src="~/Images/loader.gif" /></div>
            </div>
        </div>
    </div>
    <div id="bheader" class="standardHeader">
        <div id="divTopLeftLogo" class="bannerImageContainer">
            <a href="~/Home/Index"><img src="~/images/house.gif" class="bannerImage" /></a>
        </div>
        <div class="headerBodyContainer">
            <div id="bannerTitle" class="headerTitle">
                Curtis Rhodes.com
            </div>

            <div id="menuContainer" class="menuTabContainer">
                <div id="replaceableMenuItems">
                    <div class="menuTab floatLeft"><a href="~/Article/ArticleList">Latest Articles</a></div>
                    @*<div class="menuTab floatLeft"><a href="~/Article/ArticleList?filterLabel=Political Rants&filterType=Category&filter=POL">Political Rants</a></div>
                    <div class="menuTab floatLeft"><a href="~/Article/ArticleList?filterLabel=Conspiracy Theories&filterType=Category&filter=CON">Conspiracy Theories</a></div>*@
                    <div class="menuTab floatLeft"><a href="~/BookDb/Index">Books</a></div>
                    <div class="menuTab floatLeft"><a href="~/Home/Apps">Apps</a></div>
                    <div class="menuTab floatLeft"><a href="~/IntelDsgn/Index">Intelligent Design</a></div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="menuTab floatLeft"><a href="~/Admin">Admin</a></div>
                }
                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab floatRight"><a href="javascript:logoutPlease()">Log Out</a></div>
                    <div class="menuTab floatRight" title="modify profile"><a href="javascript:profilePease()">Hello  @User.Identity.GetUserName()</a></div>
                }
                else
                {
                    <div id="btnLayoutRegister" class="menuTab floatRight">
                        <a href="javascript:registerPlease()">Register</a>
                        <img id="btnHeaderRegisterSpinner" class="btnSpinnerImage" src="~/Images/loader.gif" />
                    </div>
                    <div id="btnLayoutLogin" class="menuTab floatRight">
                        <a href="javascript:loginPlease()">Log In</a>
                        <img id="btnHeaderLoginSpinner" class="btnSpinnerImage" src="~/Images/loader.gif" />
                    </div>
                }
            </div>
        </div>
        <div class="noFloat"></div>
    </div>
    <div class="body-content">
        
        <div id="customMessage" class="customMessageBox">
            <div class="customMessageBoxInner">
                <div class="customMessageTitleBar">
                    <div id="customMessageTitle" class="customMessageTitleText"> </div>
                    <div id="customMessagebtnClose" class="customMessageCloseButton" onclick="$('#customMessage').hide(); closeCustomMessageBox();">
                        <img height="19" src="~/Images/powerOffRed01.png" />
                    </div>
                </div>
                <div id="customMessageText" class="alegro"></div>
            </div>
        </div>

        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <div id="modalContainer" class="modalVail">
        <div id="modalContent" class="modalContentStyle"></div>
    </div>
    @RenderSection("scripts", required: false)
    <script>resizePage();</script>
</body>
</html>
