@{
    ViewBag.Title = "Read";
}

<style>
    .threeColumnArray {
        /*background-image: url('../../Images/parchment01.jpg');
        background-repeat: no-repeat;
        background-size: 100%;*/
        background-color: #eeddbb;
    }

    .hiddenContainer {
        display: none;
    }
    .block {
        display: block;
    }

    .paupaStyle {
        font-family: 'Georgia';
        margin-top: 15px;
        background-color: #ddd69f;
        /*height: 660px;*/
        overflow-y: auto;
    }
    .paupaBorderContainer {
        width: 48%;
        height: 50px;
    }
    .full {
        width:100%;
    }

    .paupaPageColor {
        background-color: rgb(247,240,214);
    }
    .paupaPage {
        background-color: rgb(247,240,214);
        font-family: 'Times New Roman';
        font-size: 17px;
        text-align: justify;
        width: 48%;
        height: 100%;
    }

    .bookTitle {
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding-bottom: 2px;
        cursor: pointer;
    }
    .bookCenterTitle {
        font-size: 28px;
        text-align: center;
        padding: 11px;
    }
    .bookPreface {
        /*margin: 5px 166px;*/
        text-align: center;
        font-size: 14px;
        font-style: italic;
        color: #821c1c;
        font-weight: bold;
    }
    .chapterTitle {
        clear: left !important;
        font-size: 28px;
        margin-left: 44px;
        padding-bottom: 2px;
        width: 100%;
    }
    .sectionTitle {
        clear: left !important;
        font-size: 24px;
        margin-left: 88px;
        padding: 6px;
    }
    .subsectionTitle {
        font-size: 22px;
        margin-left: 114px;
        padding-top: 6px;
    }
    .sectionContents {
        padding: 2px 11px;
        text-align: justify;
        font-size: 18px;
    }
    .absTitle {
        position: absolute;
        margin-top: 15px;
        font-size: 18px;

    }
    .cosmic01 {
        background-color: #98d1d3;
        height: 666px;
        overflow-y: auto;
    }

</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="bookTitle" class="pageTitle" onclick="redirectToToC()">
            <div id="bookContentsLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
        </div>
        <div id="bookContentsContainer" class="block">
            <div id="paupaStyleContainer" class="paupaStyle hiddenContainer">               
                <div class="flexContainer">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornertopleft.png" />
                    <div class="paupaBorderContainer">
                        <img class="floatLeft full" src="~/Images/Books/PaupaBook/book-topLeft.png" />
                        <div id="paupaChapterTitle" class="absTitle"></div>
                    </div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspinetop.png" />
                    <img class="floatLeft paupaBorderContainer" src="~/Images/Books/PaupaBook/book-topRight.png" />
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornertopright.png" />
                </div>
                <div class="flexContainer paupaPageColor">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-left.png" />
                    <div class="floatLeft paupaPage" id="bookLeftContent"></div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspine.jpg" />
                    <div class="floatLeft paupaPage" id="bookRightContent"></div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-right.png" />
                </div>
                <div class="flexContainer">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornerbleft.png" />
                    <img class="floatLeft paupaBorderContainer clickable" id="bookBottomLeft" src="~/Images/Books/PaupaBook/book-bottomleft.png" onclick="javascritpt:pagePrevious()" />
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspinebottom.png" />

                    <img class="floatLeft paupaBorderContainer clickable" id="bookBottomRight" src="~/Images/Books/PaupaBook/book-bottomright.png" onclick="javascritpt:pageNext()" />
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornerbright.png" />
                </div>
            </div>

            <div id="twoPageBookStyle" class="hiddenContainer">
                <div class="flexContainer">
                    <div class="floatLeft  " id="twoPageBookStyleLeftContent"></div>
                </div>
                <div class="flexContainer">
                    <div class="floatLeft" id="twoPageBookStyleRightContent"></div>
                </div>
            </div>

            <div id="fullBookStyleContainer" class="hiddenContainer">
                <div id="fullBookStyleContents" class="cosmic01">
                </div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
        @if (User.IsInRole("Book Editor"))
        {
            <div id="tocEdit"><a href="javascript:redirectToEdit()">Edit</a></div>
        }
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var bookId = '@ViewBag.BookId';
    var chapterId = '@ViewBag.ChapterId';
    var sectionId = '@ViewBag.SectionId';
    var sectionTypeId = '@ViewBag.SectionType';

    //var queryString = "?bookTitle=" + '@ViewBag.BookTitle' + "&chapterId=" + '@ViewBag.chapterId' + "&sectionId=" + '@ViewBag.sectionId' + "&subSectionId=" + '@ViewBag.subSectionId';

    var sectionType, bookTitle;
    var chapterArray = [];
    var pages = [];
    var pageIndex = 0;

    $(document).ready(function () {
        if (isNullorUndefined(bookId)) {
            window.location.href = "/BookDb"
        }
        switch (bookId) {
            case '1':  // the blond jew
                $('#paupaStyleContainer').show();
                loadBookIntoChapterArray();
                break;
            case '2':  // time squared
                $('.threeColumnArray').css('background-image', 'url("/Images/Books/timeSquared01.jpg")')
                $('#bookTitle').css('color', '#fff');
                $('#fullBookStyleContainer').show();
                getTheWholeBook();
                break;
            case '3':  // ready;fire;aim;
                $('.threeColumnArray').css('background-color', '#98d1d3')
                $('#fullBookStyleContainer').show();
                getTheWholeBook();
                //$('#twoPageBookStyle').show();
                //loadBookIntoChapterArray();
                break;
            default:
        }
    })

    function getTheWholeBook() {
        try {
            $('#bookTitleLoadingGif').show();
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("getBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);

                        //$('#fullBookStyleContents').html("<div id=bk" + book.Id + " class='bookTitle'>" + book.BookTitle + "</div>");
                        $('#fullBookStyleContents').append("<div class='bookCenterTitle'>Preface</div>");
                        $('#fullBookStyleContents').append("<div class='bookPreface'>" + book.Preface + "</div>");
                        $('#fullBookStyleContents').append("<div class='bookCenterTitle'>Introduction</div>");
                        $('#fullBookStyleContents').append("<div class='sectionContents'>" + book.Introduction + "</div>");
                        $.each(book.Chapters, function (idx, obj) {
                            $('#fullBookStyleContents').append("<div id=ct" + obj.Id + " class='chapterTitle'>" + obj.ChapterTitle + "</div>");
                            $('#fullBookStyleContents').append("<div class='bookPreface'>" + obj.Preface + "</div>");
                            $.each(obj.Sections, function (idx, obj) {
                                $('#fullBookStyleContents').append("<div id=sc" + obj.Id + " class='sectionTitle'>" + obj.SectionTitle + "</div>");
                                $('#fullBookStyleContents').append("<div class='sectionContents'>" + obj.SectionContents + "</div>");
                                $.each(obj.SubSections, function (idx, obj) {
                                    $('#fullBookStyleContents').append("<div id=ssc" + obj.Id + " class='subsectionTitle'>" + obj.SubSectionTitle + "</div>");
                                    $('#fullBookStyleContents').append("<div class='sectionContents'>" + obj.SubSectionContents + "</div>");
                                });
                            });
                        });

                        $(window).resize(function () {
                            //alert("READ.cshtml  $(window).resize()");
                            $('#fullBookStyleContainer').height($('#middleColumn').height() - 120);
                            resizePage();
                        });
                        $(window).resize();
                    }
                },
                error: function (jqXHR, exception) {
                    alert("getTheWholeBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("getTheWholeBook CATCH: " + e);
        }
    }

    function XXXgetChapter() {
        try {
            $.ajax({
                url: service + "/api/Book/" + queryString,
                type: "get",
                dataType: "json",
                success: function (response) {
                    if (response.success === "ok") {
                        article = response;
                        bind();
                        $('#btnSave').text("Update");
                    }
                    else {
                        displayStatusMessage("error", response.success);
                        alert("request.responseText: " + response.success);

                    }
                },
                error: function (request, status, error) {
                    displayStatusMessage("error", request.responseText);
                    alert("request.responseText: " + request.responseText);
                }
            });
        } catch (e) {
            alert("e: "  + e);
        }
    }

    function loadBookIntoChapterArray() {
        try {
            chapterArray = [];

            var contents;
            $('#bookContentsLoadingGif').show();
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("loadBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);
                        contents = "<div id=bk" + book.Id + " class='bookTitle'>" + book.BookTitle + "</div>";
                        contents += "<div class='bookCenterTitle'>Preface</div>"
                        contents += "<div class='bookPreface'>" + book.Preface + "</div>";
                        contents += "<div class='bookCenterTitle'>Introduction</div>";
                        contents += "<div class='sectionContents'>" + book.Introduction + "</div>";
                        var chapterObject = {};
                        chapterObject.ChapterOrder = 0;
                        chapterObject.ChapterTitle = book.BookTitle; // intro
                        chapterObject.Content = contents;
                        chapterArray.push(chapterObject);

                        $.each(book.Chapters, function (idx, objChapter) {
                            contents = "<div id=ct" + objChapter.Id + " class='chapterTitle'>" + objChapter.ChapterTitle + "</div>";
                            contents += "<div class='bookPreface'>" + objChapter.Preface + "</div>";
                            $.each(objChapter.Sections, function (idx, obj) {
                                contents += "<div id=sc" + obj.Id + " class='sectionTitle'>" + obj.SectionTitle + "</div>";
                                contents += "<div class='sectionContents'>" + obj.SectionContents + "</div>";
                                $.each(obj.SubSections, function (idx, obj) {
                                    contents += "<div id=ssc" + obj.Id + " class='subsectionTitle'>" + obj.SubSectionTitle + "</div>";
                                    contents += "<div class='sectionContents'>" + obj.SubSectionContents + "</div>";
                                });
                            });
                            //chapterArray.push(contents);
                            var chapterObject = {};
                            chapterObject.ChapterOrder = objChapter.ChapterOrder;
                            chapterObject.ChapterTitle = objChapter.ChapterTitle;
                            chapterObject.Content = contents;
                            chapterArray.push(chapterObject);
                        });

                        //alert("pages.length: " + pages.length + "   pages[0].len: " + pages[0].length + "  pages[1].len: " + pages[1].length);
                        pages = [];
                        //alert("breakChapterIntoPages(" + chapterId + ")");
                        breakChapterIntoPages(chapterId);
                    }
                },
                error: function (jqXHR, exception) {
                    alert("loadBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("loadBook CATCH: " + e);
        }
    }

    function breakChapterIntoPages(chapterIndex) {

        //alert("breakChapterIntoPages  chapterId: " + chapterIndex +"  chapterArray.length: " + chapterArray.length)
        var chapterObject = chapterArray[chapterIndex];

        $('#paupaChapterTitle').html("Chapter " + chapterObject.ChapterOrder + " " + chapterObject.ChapterTitle); 

        var pageCharCount = calcPageCharCount();

        var chapterContents = chapterObject.Content;

        // break chapter into pages
        var pageStart = 0;
        var pageEnd = pageCharCount;
        pages = [];
        while (pageStart < chapterContents.length) {
            pages.push(chapterContents.substring(pageStart, pageEnd));
            pageEnd += 1;
            pageStart = pageEnd;
            pageEnd += pageCharCount;
        }

        pageIndex = 0;
        if (bookId == 1) {
            $('#bookLeftContent').html(pages[pageIndex++]);
            $('#bookRightContent').html(pages[pageIndex++]);
        }
        if (bookId == 3) {

            alert("pages.length: " + pages.length)

            $('#twoPageBookStyleLeftContent').html(pages[pageIndex++]);
            $('#twoPageBookStyleRightContent').html(pages[pageIndex++]);
        }

        //<div id="twoPageBookStyle" class="hiddenContainer">
        //    <div class="flexContainer">
        //        <div class="floatLeft  " id="twoPageBookStyleLeftContent"></div>
        //    </div>
        //    <div class="flexContainer">
        //        <div class="floatLeft" id="twoPageBookStyleContent"></div>
        //    </div>
        //</div>


        resizePage();
    }

    function xxgetWordCount(cont) {

        //var cont = $("#content").html();
        cont = cont.replace(/<[^>]*>/g, " ");
        cont = cont.replace(/\s+/g, ' ');
        cont = cont.trim();
        return cont.split(" ").length

    }

    function pageNext() {
        //alert("pageNext  pageIndex: " + pageIndex + "   pages.length: " + pages.length);
        if (pageIndex + 2 <= pages.length) {
            $('#bookLeftContent').html(pages[pageIndex++]);
            $('#bookRightContent').html(pages[pageIndex++]);
        }
        else {
            if (pageIndex + 1 == pages.length) {
                alert("final page")
                $('#bookLeftContent').html(pages[pageIndex++]);
                $('#bookRightContent').html("");
            }
            else {
                if (chapterId < chapterArray.length) {
                    //alert("moving: ")
                    breakChapterIntoPages(++chapterId)
                }
                else {
                    $('#bookLeftContent').html("The End");
                    $('#bookRightContent').html("");
                }
            }
        }

        if ($('#bookContentsContainer').height() > $('#middleColumn').height()) {
            //alert(" pageNext()    $('#middleColumn').height: " + $('#middleColumn').height() + "   $('#bookContentsContainer').height(): " + $('#bookContentsContainer').height())
            $('#middleColumn').height($('#bookContentsContainer').height() + 100);
            //alert("$('#middleColumn').height: " + $('#middleColumn').height())

        }
    }

    function pagePrevious() {
        if (pageIndex - 2 > 0) {
            $('#bookRightContent').html(pages[pageIndex--]);
            $('#bookLeftContent').html(pages[pageIndex--]);
        }
        if (chapterId > 0) {
            //alert("chapterId: " + (chapterId - 1));
            //alert("chapterArray[--chapterId]" + chapterArray[--chapterId])
            pageIndex = 0;
            chapterId = chapterId - 1;
            //alert("chapterId: " + chapterId);
            breakChapterIntoPages(chapterId)
        }
    }

    function calcPageCharCount() {
        var middleColumnHeight = $('#middleColumn').height();
        var lineHeight = 44;
        var lineCount = middleColumnHeight / lineHeight;
        //alert("estimated line count: " + lineCount);
        var pageAreaWidth = $('#bookLeftContent').width()
        var characterWidth = 8;
        var charactersPerLine = pageAreaWidth / characterWidth;
        var pageCharCount = lineCount * charactersPerLine 
        //alert("pageCharCount: " + pageCharCount)
        //return pageCharCount;

        return 1500;
    }

    function redirectToEdit() {
        window.location.href = "/BookDb/Write?book=" + bookId;
    }

    function redirectToToC() {
        window.location.href = "/BookDb/ToC?book=" + bookId;
    }

</script>