@{
    ViewBag.Title = "Read";
}

<style>
    .threeColumnArray {
        /*background-image: url('../../Images/parchment01.jpg');
        background-repeat: no-repeat;
        background-size: 100%;*/
        background-color: #eeddbb;
    }

    .bookContainer {
        font-family: 'Georgia';
        margin-top: 15px;
        background-color: #ddd69f;
        /*height: 660px;*/
        overflow-y: auto;
    }
    .bookContentArea {
    }
    .paupaWidth {
        width: 48%;
        height: 50px;
    }
    .full {
        width:100%;
    }

    #paupaStyle {
        display: none;
    }
    .flexContainer {
        background-color: #eeddbb;
    }
    .paupaPage {
        background-color: rgb(251,241,206);
        font-family: 'Times New Roman';
        font-size: 17px;
        text-align: justify;
        width: 48%;
        height: 100%;
    }

    .bookTitle {
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        padding-bottom: 2px;
        cursor: pointer;
    }
    .bookCenterTitle {
        font-size: 28px;
        text-align: center;
        padding: 11px;
    }
    .bookPreface {
        margin: 5px 166px;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        color: #821c1c;
        font-weight: bold;
    }
    .chapterTitle {
        clear: left !important;
        font-size: 28px;
        margin-left: 44px;
        padding-bottom: 2px;
        width: 100%;
    }
    .sectionTitle {
        clear: left !important;
        font-size: 24px;
        margin-left: 88px;
        padding: 6px;
    }
    .subsectionTitle {
        font-size: 22px;
        margin-left: 114px;
        padding-top: 6px;
    }
    .sectionContents {
        padding: 2px 11px;
        text-align: justify;
        font-size: 18px;
    }
    .absTitle {
        position: absolute;
        margin-top: 15px;
        font-size: 18px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="bookTitle" class="pageTitle" onclick="javascript:redirectToToC()">
            <div id="bookTitleLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
        </div>
        <div>
            <div id="paupaStyle" class="bookContainer">
                <div class="flexContainer">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornertopleft.png" />
                    <div class="paupaWidth">
                        <img class="floatLeft full" src="~/Images/Books/PaupaBook/book-topLeft.png" />
                        <div id="chapterTitle" class="absTitle"></div>
                     </div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspinetop.png" />
                    <img class="floatLeft paupaWidth" src="~/Images/Books/PaupaBook/book-topRight.png" />
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornertopright.png" />
                </div>
                <div class="flexContainer">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-left.png" />
                    <div class="floatLeft paupaPage" id="bookLeftContent"></div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspine.jpg" />
                    <div class="floatLeft paupaPage" id="bookRightContent"></div>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-right.png" />
                </div>
                <div class="flexContainer">
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornerbleft.png" />
                    <img class="floatLeft paupaWidth clickable" id="bookBottomLeft" src="~/Images/Books/PaupaBook/book-bottomleft.png" onclick="javascritpt:pagePrevious()"/>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-innerspinebottom.png" />
                    
                    <img class="floatLeft paupaWidth clickable" id="bookBottomRight" src="~/Images/Books/PaupaBook/book-bottomright.png" onclick="javascritpt:pageNext()"/>
                    <img class="floatLeft" src="~/Images/Books/PaupaBook/book-cornerbright.png" />
                </div>
            </div>
            <div id="fullBookStyle" class="bookContainer">
                <div id="bookContents" class="bookContentArea"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
        @if (User.IsInRole("Book Editor"))
        {
            <div id="tocEdit"><a href="javascript:redirectToEdit()">Edit</a></div>
        }
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var bookId = '@ViewBag.BookId';
    var chapterId = '@ViewBag.ChapterId';
    var sectionId = '@ViewBag.SectionId';
    var sectionTypeId = '@ViewBag.SectionType';
    var sectionType, bookTitle;
    var chapterArray = [];
    var pages = [];
    var pageIndex = 0;

    $(document).ready(function () {

        //setSectionTypeUnneded();
        //getTheWholeBook();
        //chapterId = 0;
        loadBook();
        $('#fullBookStyle').hide();

    })

    function setSectionTypeUnneded() {
        switch (sectionTypeId) {
            case '0':
                sectionType = "TitlePage";
                break;
            case '1':
                sectionType = "Chapter";
                break;
            case '2':
                sectionType = "Section";
                break;
            case '3':
                sectionType = "SubSection";
                break;
            default:
                sectionType = "Unknown: " + sectionTypeId;
                break;
        }
        $('#bookContents').html("sectionType: " + sectionType);
    }

    function getTheWholeBook() {
        try {
            $('#bookTitleLoadingGif').show();
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("getBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);

                        $('#bookContents').html("<div id=bk" + book.Id + " class='bookTitle'>" + book.BookTitle + "</div>");
                        $('#bookContents').append("<div class='bookCenterTitle'>Preface</div>");
                        $('#bookContents').append("<div class='bookPreface'>" + book.Preface + "</div>");
                        $('#bookContents').append("<div class='bookCenterTitle'>Introduction</div>");
                        $('#bookContents').append("<div class='sectionContents'>" + book.Introduction + "</div>");
                        $.each(book.Chapters, function (idx, obj) {
                            $('#bookContents').append("<div id=ct" + obj.Id + " class='chapterTitle'>" + obj.ChapterTitle + "</div>");
                            $('#bookContents').append("<div class='bookPreface'>" + obj.Preface + "</div>");
                            $.each(obj.Sections, function (idx, obj) {
                                $('#bookContents').append("<div id=sc" + obj.Id + " class='sectionTitle'>" + obj.SectionTitle + "</div>");
                                $('#bookContents').append("<div class='sectionContents'>" + obj.SectionContents + "</div>");
                                $.each(obj.SubSections, function (idx, obj) {
                                    $('#bookContents').append("<div id=ssc" + obj.Id + " class='subsectionTitle'>" + obj.SubSectionTitle + "</div>");
                                    $('#bookContents').append("<div class='sectionContents'>" + obj.SubSectionContents + "</div>");
                                });
                            });
                        });
                        resizePage();
                        //$('#bookTitleLoadingGif').hide();
                    }
                },
                error: function (jqXHR, exception) {
                    alert("getTheWholeBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("getTheWholeBook CATCH: " + e);
        }
    }

    function loadBook() {
        try {
            var contents;
            //$('#bookTitleLoadingGif').show();
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("loadBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);
                        contents = "<div id=bk" + book.Id + " class='bookTitle'>" + book.BookTitle + "</div>";
                        contents += "<div class='bookCenterTitle'>Preface</div>"
                        contents += "<div class='bookPreface'>" + book.Preface + "</div>";
                        contents += "<div class='bookCenterTitle'>Introduction</div>";
                        contents += "<div class='sectionContents'>" + book.Introduction + "</div>";
                        chapterArray.push(contents);

                        $.each(book.Chapters, function (idx, obj) {
                            contents = "<div id=ct" + obj.Id + " class='chapterTitle'>" + obj.ChapterTitle + "</div>";
                            contents += "<div class='bookPreface'>" + obj.Preface + "</div>";
                            $.each(obj.Sections, function (idx, obj) {
                                contents += "<div id=sc" + obj.Id + " class='sectionTitle'>" + obj.SectionTitle + "</div>";
                                contents += "<div class='sectionContents'>" + obj.SectionContents + "</div>";
                                $.each(obj.SubSections, function (idx, obj) {
                                    contents += "<div id=ssc" + obj.Id + " class='subsectionTitle'>" + obj.SubSectionTitle + "</div>";
                                    contents += "<div class='sectionContents'>" + obj.SubSectionContents + "</div>";
                                });
                            });
                            chapterArray.push(contents);
                            if (obj.Id == chapterId)
                                $('#chapterTitle').html("Chapter " + obj.Id + " " + obj.ChapterTitle); 
                        });

                        pages = [];

                        breakIntoPages(chapterArray[chapterId])

                        //alert("pages.length: " + pages.length + "   pages[0].len: " + pages[0].length + "  pages[1].len: " + pages[1].length);
                        $('#paupaStyle').show();
                        $('#bookLeftContent').html(pages[pageIndex++]);
                        $('#bookRightContent').html(pages[pageIndex++]);                        
                    }
                },
                error: function (jqXHR, exception) {
                    alert("loadBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("loadBook CATCH: " + e);
        }
    }

    function breakIntoPages(chapter) {
        //alert("$('#bookLeftContent').height(): " + $('#bookLeftContent').height())

        //var fontSize = $('#bookLeftContent').css('font-size');
        //var lineHeight = Math.floor(parseInt(fontSize.replace('px', '')) * 1.5);
        //alert("lineHeight: " + lineHeight);
        //var linesPerPage = $('#bookLeftContent').height() // / lineHeight; //$('#bookLeftContent').css("line-height");
        //var wordsPerLine = 10;
        //var wordsPerPage = linesPerPage * wordsPerLine;
        //alert("wordsPerPage: " + word sPerPage);
        wordsPerPage = 444;

        var idx = 0;
        while (idx < chapter.length) {
            //alert("chapter.substr(idx).len: " + chapter.substr(idx).length);
            var ppindx = getWordIdx(chapter.substr(idx), wordsPerPage);
            //alert("chapter.substring(" + idx + "," + idx + ppindx + "): " + chapter.substring(idx, idx + ppindx));
            pages.push(chapter.substring(idx, idx + ppindx));
            idx += ppindx;
        }
        //alert("bb pages.len: " + pages.length);
    }

    function getWordIdx(contentso, numWords) {
        //alert("numWords: " + numWords);
        var wordCount = 0;
        var xindx = 0;
        while (wordCount < numWords) {
            //alert("doc.substr(" + indx + ", 1): " + doc.substr(indx, 1));
            if (contentso.substr(xindx, 1) == " ") {
                wordCount++;
                //alert("wordCount: " + wordCount)
            }
            xindx++;

            if (xindx > contentso.length) {
                //alert("fail");
                break;
            }
        }
        //alert("getWordIdx: " + xindx);
        return xindx;
    }

    function getWordCount(cont) {

        //var cont = $("#content").html();
        cont = cont.replace(/<[^>]*>/g, " ");
        cont = cont.replace(/\s+/g, ' ');
        cont = cont.trim();
        return cont.split(" ").length

    }

    function pageNext() {
        if (pageIndex + 2 < pages.length) {
            $('#bookLeftContent').html(pages[pageIndex++]);
            $('#bookRightContent').html(pages[pageIndex++]);
        }
        else {
            if (pageIndex + 1 == pages.length) {
                $('#bookLeftContent').html(pages[pageIndex++]);
                $('#bookRightContent').html("");
            }
            else {
                if (chapterId < chapterArray.length) {
                    pageIndex = 0;
                    breakIntoPages(chapterArray[++chapterId])
                }
                else {
                    $('#bookLeftContent').html("The End");
                    $('#bookRightContent').html("");
                }
            }
        }
    }

    function pagePrevious() {
        if (pageIndex - 2 > 0) {
            $('#bookRightContent').html(pages[pageIndex--]);
            $('#bookLeftContent').html(pages[pageIndex--]);
        }
        if (chapterId > 0) {
            //alert("chapterId: " + (chapterId - 1));

            //alert("chapterArray[--chapterId]" + chapterArray[--chapterId])

            pageIndex = 0;
            chapterId = chapterId - 1;
            alert("chapterId: " + chapterId);

            breakIntoPages(chapterArray[chapterId])
        }
    }

    function redirectToEdit() {
        window.location.href = "/BookDb/Edit?book=" + bookId;
    }
    function redirectToToC() {
        window.location.href = "/BookDb/ToC?book=" + bookId;
    }

</script>