<div id="fb-root"></div>
<script src="~/Scripts/ImageTools.js"></script>
<link href="~/Styles/articleView.css" rel="stylesheet" />

<div class="threeColumnArray">
    <div id="leftColumn">

        <div class="staticFileLinks">
            @if (User.IsInRole("Article Editor"))
            {
                <div id="lnkStaticify" class="clickable" onclick="javascript:saveAsStaticFile()">staticify</div>
            }

            <div id="lnkFacebook" class="fb-share-button" data-href="' + pageName + '" data-layout="button" data-size="large" data-mobile-iframe="false">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=' + pageName + '&src=sdkpreparse">Share on Facebook</a>
            </div>

            <div id="lnkPermalink" class="clickable" onclick="javascript:goToPermaLink()">permalink</div>
        </div>
    
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="pollybox">
            <div id="divTopLine">
                <div id="divArticleDate" class="floatLeft"></div>
                <div id="divCategory" class="floatRightDiv"></div>
            </div>
            <div id="divTitle"></div>
            <div class="flexContainer">
                <div id="divByline"></div>
                @if (User.IsInRole("Article Editor"))
                {
                    <div class="floatRightDivEdit clickable" onclick="javascript:gotoArticleEdit();">edit</div>
                }
            </div>
        </div>
        <div id="contentArea">
            <div id="divImage"><img id="articleImage" /></div>
            <div id="divSummary"></div>  
            <div id="divContent"></div>
            <div id="divStatusMessage"></div>
            <div id="divCommentsButton" class="roundendButton">comments</div>
        </div>
        <div id="divCommentsSection">
            @Html.Partial("_CommentsSection");
        </div>
    </div>
    <div id="rightColumn">
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var articleId = '@ViewBag.ArticleId';

    var artitleTitle = "";
    var articleTagString = "";
    var articleImageName = "";
    var userId = '@ViewBag.UserId';
    var userName = '@ViewBag.UserName';
    var filePath = '@ViewBag.FilePath';
    var ipAddress = '@ViewBag.IpAddress';

    $(document).ready(function () {
        $('#lnkPermalink').hide();
        $('#lnkFacebook').hide();

        if (window.location.pathname.startsWith("/static_pages")) {
            $('#lnkFacebook').show();            
            $('#lnkStaticify').hide();
        }

        loadArticle(articleId);
    });

    function gotoArticleEdit() {
        window.location.href = "/Article/ArticleEdit?Id=" + articleId;
    }

    function loadArticle(articleId) {
        try {
            var webService = "https://api.curtisrhodes.com";
            //alert("articleId: " + articleId);
            //alert("get: " + service + "/api/DbArticle?articleId=" + articleId)
            $.ajax({
                type: "GET",
                url: service + "api/DbArticle/Get?articleId=" + articleId,
                dataType: "json",
                success: function (article) {
                    if (article.Success == "ok") {
                        artitleTitle = article.Title;
                        articleImageName = article.ImageName;
                        $('#articleImage').attr("src", webService + "/App_Data/Images/" + article.ImageName);
                        $('#divCategory').html(article.Category);
                        $('#divTitle').html(article.Title);
                        $('#divArticleDate').html(article.LastUpdated);
                        $('#divSummary').html(article.Summary);
                        $('#divByline').html(article.Byline);
                        $('#divContent').html(beautify(article.Contents));

                        $.each(article.Tags, function (idx, tag) {
                            articleTagString += tag.TagName + ",";
                        })

                        //logPageHit(webService, userName, ipAddress, "ViewArticle", article.Title);

                        //stickCommentsButton();
                        var mch = $('#middleColumn').height()
                        $('#middleColumn').height(mch + $('#contentArea').height());
                        var mch2 = $('#middleColumn').height()

                        //var hdr = $('.Header').height();
                        //var cch = $('#divCommentsBody').height()
                        $('.threeColumnArray').height(mch2);
                        resizePage();
                    }
                    else
                        alert("loadDBArticle: " + article.Success);
                },
                error: function (jqXHR, exception) {
                    alert("loadArticle jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("load article catch: " + e);
        }
    }

    function goToPermaLink() {
        window.location.href = "/static_pages/" + beautify(artitleTitle).replace(/ /g, "_") + ".html", "target='_blank'";
    };

    // Show Comments
    $('#divCommentsButton').click(function () {
        if ($('#divCommentsSection').css("display") == "none") {
            $('#divCommentsSection').show();
            getComments();
        }
        else {
            $('#divCommentsSection').hide();
        }
    });

    function saveAsStaticFile() {        
        $('head').append('<meta name="Title" content="' + artitleTitle + '" property="og:title">');
        //$('head').append('<meta property="og:description" content="' + beautify(summary.substr(0, 300)) + '" />');
        $('head').append('<meta name="Keywords" content="' + articleTagString + '>');
        $('head').append('<meta property="og:type" content="website">');
        $('head').append("<meta property='og:image' content='https://api.curtisrhodes.com/app_data/images/" + articleImageName + "'>");

        var pageName = "https://Curtisrhodes.com/static_pages/" + artitleTitle.replace(/ /g, "_") + ".html";
        $('head').append('<br/><meta property="og:url" content="' + pageName + '">');

        //var html = $('html').html();
        var data = new Object();
        data.html = "<!DOCTYPE html>" + $('html').html();
        try {
            $.ajax({
                type: "POST",
                url: "CreateStaticFile",

                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (success) {
                    if (success === "ok") {
                        $('#lnkPermalink').show();
                        $('#lnkStaticify').hide();
                    }
                    else
                        alert("/api//File returned: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("CreateStaticFile error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("saveAsStaticFile catch: " + e);
        }
    }

    $(window).unload(function () {
        // log page visit End
       // logPageHit(service, userName, ipAddress, "ViewArticle", article.Title);
        //alert("page move");
    });

    ///////////////////////////////////////////////////

    $('#btnTest').click(function () {
        location.href = "/Home/get_image?w=" + article.ImageName;
    });
    $('#btnSpinnerTest').click(function () {
        $(this).append("<img src='/Images/loader.gif' class='tinyLoader' >");
    });
    $('#btnSpinnerTest').dblclick(function () {
        $(this).html("Add");
    });
</script>
