@model Brucheum.ArticleModel

<link href="~/Styles/ThreeColumnPage.css" rel="stylesheet" />
<script src="~/Scripts/ImageTools.js"></script>
<link href="~/Styles/article.css" rel="stylesheet" />

<div class="threeColumnArray">
    <div id="leftColumn">
        <div id="shareToFacebook">
            <button id="btnStatic" class="roundendButton">staticify</button>
        </div>
    </div>
    <div id="middleColumn">
        @if (Model.Id != null)
        {
            <div id="divStatusMessage"></div>
            <div id="pollybox">
                <div id="divTopLine">
                    @Model.LastUpdated
                    <div class="floatDivEdit">
                        @Model.Category
                    </div>
                </div>

                <div id="divTitle">@Model.Title</div>

                <div id="divByline">
                    by: @Model.Byline
                    <div class="floatDivEdit">
                        <a href="ArticleEdit?Id=@Model.Id">edit</a>
                    </div>
                </div>
            </div>
            <div id="divImage"><img id="articleImage" /></div>
            <div id="divSummary">@Model.Summary</div>
            <div id="divContent"></div>
            <div id="divStatusMessage"></div>

            <div id="divCommentsButton" class="roundendButton">comments</div>

            <div id="divCommentsSection">
                <div id="divCommentsBody">
                    <div id="divLoginWarning">You must <span id="spRegister" class="clickable">Register</span> or <span id="spLogin" class="clickable">Login</span> to comment</div>
                    <div id="divKnownUser"></div>
                    <div id="commentEntry">
                        <div class="crud">
                            <span>Title: </span><input class="roundedInput" id="txtTitle" />
                            <img id="imgPowerOffRed" src="~/Images/powerOffRed01.png" />
                            <textarea id="textAreaComment"></textarea>
                        </div>
                        <div id="divButtons">
                            <button id="btnSubmitComment" class="roundendButton">Submit</button>
                        </div>
                    </div>
                    <div id="commentHistory"></div>
                </div>
            </div>
            <input id="hiddenId" type="hidden" />
        }
        else
        {
            <div style="padding:200px">No Artice Found</div>
        }
    </div>
    <div id="rightColumn">
        <div id="divTagList"></div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var tags = '@ViewBag.MetaTags';
    var articleId = '@Model.Id'
    var imageName = '@Model.ImageName';
    var content = '@ViewBag.Contents';
    var summary = '@ViewBag.Summary';
    var title = '@Model.Title';
    var userId = '@ViewBag.UserId';
    var userName = '@ViewBag.UserName';
    
    $(document).ready(function () {
        try {
            if (imageName !== "") {               
                $("#articleImage").attr("src", "data:image/gif;base64," + getImage(service, imageName));
            }
            content = beautify(content);
            $('#divContent').html(content);

            //stickCommentsButton();
        }
        catch (e) {
            alert("$(document).ready ERROR: " + e);
        }
    });

    function stickCommentsButton() {
        resizePage();
        var x = $('#divContent').position();
        var contentBottom = $('#divContent').position().top + $('#divContent').height();
        var pageBottom = $('.threeColumnArray').position().top + $('.threeColumnArray').height();

        if (pageBottom > contentBottom) {
            //alert("pageBottom: " + pageBottom + "  contentBottom: " + contentBottom);
            $('#divCommentsButton').css("position", "absolute").css("bottom", 0);
            $('#divCommentsSection').css("position", "absolute").css("top", pageBottom);
        }
    }

    $('#btnStatic').click(function () { saveAsStaticFile(); })
    function saveAsStaticFile() {
        if (imageName === "") {
            displayStatusMessage("alert-warning", "insuficent data. Image required");
            return;
        }
        $('head').append('<meta name="Title" content="' + title + '" property="og:title">');
        $('head').append('<meta name="Description" content="' + beautify(summary.substr(0, 300)));  //'" property="og:description"><br/>'
        $('head').append('<meta name="Keywords" content="' + beautify(tags.split(",").toString()) + '"><br/>');
        $('head').append('<meta property="og:type" content="website"><br/>');

        //$('head').append("<meta property='og:image' content='http://curtisrhodes.com/home/get_image?w=" + imageName + "'>");
        $('head').append("<meta property='og:image' content='data:image/gif;base64," + getImage(service, imageName) + "'>");

        var pageName = service + "/static_pages/" + title.replace(/ /g, "_") + ".html";
        $('head').append('<br/><meta property="og:url" content="' + pageName + '">');

        $('#shareToFacebook').html('<div class="fb-share-button" data-href="' + pageName + '" data-layout="button" data-size="large" data-mobile-iframe="false">' +
            '<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=' + pageName + '&src=sdkpreparse">Share on Facebook</a></div>');

        var html = $('html').html();

        try {
            $.ajax({
                type: "POST",
                url: "/api//File",  //  local api (static pages not stored in service)
                processData: false, 
                contentType: false,
                async: false,
                cache: false,
                data: html,
                success: function (success) {
                    if (success === "ok") {
                        $('#btnStatic').val("permalink");
                        $('#shareToFacebook').html('<button id="btnPermalink" class="roundendButton">permalink</button>');
                        
                        $('#btnPermalink').click(function () {
                            window.location.href = "/static_pages/" + title.replace(/ /g, "_") + ".html", "target='_blank'";

                        })

                    }
                    else
                        alert("saveAs: " + success);
                },
                error: function (xhr) {
                    alert("saveAs error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            alert("saveAs catch: " + e);
        }
    }

    // Show Comments
    $('#divCommentsButton').click(function () {
        $('#divCommentsSection').toggle();
        if ($('#divCommentsSection').is(':visible')) {
            getComments();

            if (userId === undefined)
                $('#divLoginWarning').show();
            else {
                $('#divKnownUser').html("Hello " + userName);
                $('#divKnownUser').show();
            }
        }
    });

    $('#spLogin').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/LoginPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#spRegister').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/RegisterPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#btnSubmitComment').click(function () {
        var comment = new Object();
        comment.CommentTitle = $('#txtTitle').val();
        comment.CommentText = $('#textAreaComment').val();
        comment.CommentId = $('#hiddenId').val();
        comment.UserId = userId;
        comment.ArticleId = articleId;

        //if (comment.CommentTitle === "")

        //comment.CommentText =

        if ($('#btnSubmitComment').text() === "Submit")
            SaveComment(comment);
        else
            UpdateComment(comment);
    });

    function getComments() {
        try {
            //$('#divLoadingGif').show();
            $.ajax({
                url: service + "/api/Comments/get/?articleId=" + articleId,
                type: "get",
                dataType: "Json",
                success: function (result) {
                    if (result.length !== 0) {
                        $('#commentHistory').html("");
                        $.each(result, function (idx, comment) {
                            $('#commentHistory').append("<div class='cHistoryRow'>" +
                                "<div class='cHistoryCol'>" + comment.CreateDate.substr(0, comment.CreateDate.indexOf("T")) + "</div>" +
                                "<div class='cHistoryCol'>" + comment.UserName + "</div>" +
                                "<div class='cHistoryCol'>" + comment.CommentTitle + "</div>" +
                                "<div class='cHistoryCol'>" + comment.CommentText + "</div>" +
                                "</div>");
                        });
                        //alert("result.Count :" + result.length + "  " + result.length !== 0);
                    }
                    var wH = $('#middleColumn').height(); // - $('#middleColumn').height();
                    $('#middleColumn').height(wH + $('#divCommentsSection').height());
                    //alert("wH: " + wH + "  now:" + $('#middleColumn').height());
                    resizePage();
                },
                error: function (xhr, textStatus, error) {
                    displayStatusMessage("alert-danger", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                    alert("status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                }
            });
        } catch (e) {
            alert("getComments: " + e);
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    function SaveComment(comment) {
        $.ajax({
            url: service + "//api//Comments//Post",
            type: "post",
            dataType: "Json",
            data: comment,
            success: function (success) {
                if (!success.startsWith("ERROR")) {
                    $('#hiddenId').val(success);
                    $('#btnSubmitComment').text("Update");
                    getComments();
                }
                else {
                    displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                    alert(success);
                }
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("alert-danger", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("Comments Post   status: " + textStatus + "text: " + xhr.statusMessage + "   error: " + error);
            }
        });
    }
        
    function UpdateComment(comment) {
        $.ajax({
            url: service + "/api/Comments/Put",
            type: "put",
            dataType: "Json",
            data: comment,
            success: function (success) {
                if (!success.startsWith("ERROR")) {
                    //$('#hiddenId').val(success);
                    //$('#btnSubmit').val("Update");
                    getComments();
                }
                else {
                    displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                }
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("alert-danger", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("Comments    status: " + textStatus + "text: " + xhr.statusMessage + "   error: " + error);
            }
        });
    };

    $('#imgPowerOffRed').click(function () {
        $('#divCommentsSection').hide();
    });

    ///////////////////////////////////////////////////

    $('#btnTest').click(function () {
        location.href = "/Home/get_image?w=" + imageName;
    });
    $('#btnSpinnerTest').click(function () {
        $(this).append("<img src='/Images/loader.gif' class='tinyLoader' >");
    });
    $('#btnSpinnerTest').dblclick(function () {
        $(this).html("Add");
    });
</script>
<script src="~/Scripts/ResizeThreeColumnPage.js"></script>