
    @model Brucheum.ArticleModel
    @using System.Net.Http;

    <script src="~/Scripts/ImageTools.js"></script>
    <link href="~/Styles/article.css" rel="stylesheet" />

    <div class="threeColumnArray">
        <div id="leftColumn">
            <div id="shareToFacebook">
                <button id="btnStatic" class="roundendButton">staticify</button>
            </div>
        </div>
        <div id="middleColumn">
            @if (Model.Id != null)
            {
                <div id="divStatusMessage"></div>
                <div id="pollybox">
                    <div id="divTopLine">
                        @Model.DateCreated
                        <div class="floatRightDiv">
                            @Model.Category
                        </div>
                    </div>
                    <div id="divTitle">@Model.Title</div>

                    <div id="divByline">
                        by: @Model.Byline
                        <div class="floatRightDivEdit">
                            <a href="ArticleEdit?Id=@Model.Id">edit</a>
                        </div>
                    </div>
                </div>
                <div id="divImage"><img id="articleImage" /></div>
                <div id="divSummary">@Model.Summary</div>
                <div id="divContent"></div>
                <div id="divCommentsButton" class="roundendButton">comments</div>
                <div id="divCommentsSection">
                    @TempData["service"] = (string)@ViewBag.Service;
                    @Html.Partial("_Comments")
                </div>
            }
            else
            {
                <div style="padding:200px">No Artice Found</div>
            }
            <input id="hiddenId" type="hidden" />
        </div>
        <div id="rightColumn">
            <div id="divTagList"></div>
        </div>
    </div>

    <script>
        var service = '@ViewBag.Service';
        var tags = '@ViewBag.MetaTags';
        var articleId = '@Model.Id'
        var imageName = '@Model.ImageName';
        var content = '@ViewBag.Contents';
        var summary = '@ViewBag.Summary';
        var title = '@Model.Title';
        var userId = '@ViewBag.UserId';
        var userName = '@ViewBag.UserName';

        $(document).ready(function () {
            try {
                if (imageName !== "") {
                    $('#articleImage').attr("src", service + "/App_Data/Images/" + imageName);
                }
                content = beautify(content);
                $('#divContent').html(content);

                //stickCommentsButton();
            }
            catch (e) {
                alert("$(document).ready ERROR: " + catchErrorDetails(e));
            }
        });

        function stickCommentsButton() {
            var x = $('#divContent').position();
            var contentBottom = $('#divContent').position().top + $('#divContent').height() + $('.Header').height();
            var pageBottom = $('.threeColumnArray').height();

            if (pageBottom < contentBottom) {
                //alert("pageBottom: " + pageBottom + "  contentBottom: " + contentBottom);
                $('#divCommentsButton').css("position", "absolute").css("bottom", 0);
                $('#divCommentsButton').width($('#middleColumn').width());
                $('#divCommentsSection').css("position", "absolute").css("top", $('#divCommentsButton').position().top + 50);
                $('#divCommentsSection').width($('#middleColumn').width());
            }
            }

        //$(window).resize(function () {
        //    stickCommentsButton();
        //});

        // Show Comments
        $('#divCommentsButton').click(function () {
            //$('#divCommentsSection').toggle();
            if ($('#divCommentsSection').css("display") == "none") {
                $('#divCommentsSection').show();

                //setTimeout(function () {
                //    var nh = $(".#middleColumn").height() + $(".#divCommentsBody").height();
                //    $(".#middleColumn").height(nh);
                //    resizePage();
                //}, 500);
            }
            else {
                $('#divCommentsSection').hide();
            }
        });

        $('#btnStatic').click(function () { saveAsStaticFile(); })
        function saveAsStaticFile() {
            if (imageName === "") {
                displayStatusMessage("alert-warning", "insuficent data. Image required");
                return;
            }
            $('head').append('<meta name="Title" content="' + title + '" property="og:title">');
            $('head').append('<meta name="Description" content="' + beautify(summary.substr(0, 300)));  //'" property="og:description"><br/>'
            $('head').append('<meta name="Keywords" content="' + beautify(tags.split(",").toString()) + '"><br/>');
            $('head').append('<meta property="og:type" content="website"><br/>');

            //$('head').append("<meta property='og:image' content='http://curtisrhodes.com/home/get_image?w=" + imageName + "'>");
            $('head').append("<meta property='og:image' content='data:image/gif;base64," + getImage(service, imageName) + "'>");

            var pageName = service + "/static_pages/" + title.replace(/ /g, "_") + ".html";
            $('head').append('<br/><meta property="og:url" content="' + pageName + '">');

            $('#shareToFacebook').html('<div class="fb-share-button" data-href="' + pageName + '" data-layout="button" data-size="large" data-mobile-iframe="false">' +
                '<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=' + pageName + '&src=sdkpreparse">Share on Facebook</a></div>');

            var html = $('html').html();

            try {
                $.ajax({
                    type: "POST",
                    url: "/api//File",  //  local api (static pages not stored in service)
                    processData: false,
                    contentType: false,
                    async: false,
                    cache: false,
                    data: html,
                    success: function (success) {
                        if (success === "ok") {
                            $('#btnStatic').val("permalink");
                            $('#shareToFacebook').html('<button id="btnPermalink" class="roundendButton">permalink</button>');

                            $('#btnPermalink').click(function () {
                                window.location.href = "/static_pages/" + title.replace(/ /g, "_") + ".html", "target='_blank'";

                            })

                        }
                        else
                            alert("saveAs: " + success);
                    },
                    error: function (xhr) {
                        alert("saveAs error: " + xhr.statusText);
                    }
                });
            }
            catch (e) {
                alert("saveAs catch: " + catchErrorDetails(e));
            }
        }

        $(window).unload(function () {
            //$(this)
            alert("page move");
        });

    ///////////////////////////////////////////////////

    $('#btnTest').click(function () {
        location.href = "/Home/get_image?w=" + imageName;
    });
    $('#btnSpinnerTest').click(function () {
        $(this).append("<img src='/Images/loader.gif' class='tinyLoader' >");
    });
    $('#btnSpinnerTest').dblclick(function () {
        $(this).html("Add");
    });
    </script>
