@{
    ViewBag.Title = "Article List";
}
<link href="~/Styles/articleList.css" rel="stylesheet" />
@*<script src="~/Scripts/ImageTools.js"></script>*@

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <div id="divArticleList">
            <div id="divlistHeader" class="articleListHeader" ></div>
            <div id="divStatusMessage"></div>
            <div id="articleListContainer"></div>
            <div id="divMoreButton" class="roundendButton">More</div>
        </div>
    </div>
    <div id="rightColumn">
        @if (User.IsInRole("Article Editor"))
        {
            <div class="clickArea01">
                <a id="hrefAddNew" href='/Article/ArticleEdit'>add new article</a>
            </div>
        }
        <div id="divbookPanel">
            @Html.Partial("_BookPannel")
        </div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var filterLabel = '@ViewBag.filterLabel';
    var filterType= '@ViewBag.FilterType';
    var filter= '@ViewBag.Filter';
    var filterLabel = '@ViewBag.Filter';
    var isArticeEditor = '@User.IsInRole("Article Editor")';
    var page = 1;
    var pageLen = 5;
    var articleCount;


    $(document).ready(function () {
        $('#hrefAddNew').hide();
        $('#divBookPannel').hide();
        getArticleList();
    });

    $('#divMoreButton').click(function () {
        page++;
        getArticleList("more");
    });

    function getArticleList(more) {
        try {
            $('#loadingGif').show();

            if (more === undefined)
                $('#articleList').html('');
            else
                page += pageLen;

            if (filterType === "")
                $('#divlistHeader').html("Latest Articles");
            else 
                $('#divlistHeader').html(filterLabel);

            $.ajax({
                url: service + "/api/DbArticle?pageLen=" + pageLen + "&page=" + page + "&filterType=" + filterType + "&filter=" + filter,
                type: "get",
                success: function (list) {
                    $('#loadingGif').hide();

                    articleCount = 0;
                    list.forEach(formatArticleJog);

                    if (articleCount < pageLen)
                        $('#divMoreButton').hide();
                    else
                        $('#divMoreButton').show();

                    $('#hrefAddNew').show();
                    $('#divBookPannel').show();

                    if (more !== undefined) {
                        //var mch = $('#middleColumn').height();
                        var als = $('#articleListContainer').height();
                        $('.threeColumnArray').height(als + 150);
                        //alert("$('#threeColumnArray').height: " + $('.threeColumnArray').height());
                    }


                    //alert("$('#divArticleList').height(): " + $('#divArticleList').height() + "  $('#middleColumn').height(): " + $('#middleColumn').height());
                    
                    $('#middleColumn').height($('#divArticleList').height() + 100);
                    resizePage();

                },
                error: function (xmlhttprequest, textstatus, message) {
                    $('#loadingGif').hide();
                    if (textstatus === "timeout") {
                        displayStatusMessage("error", "Server Timeout");
                        alert("Sorry. Server timeout. \n This webside is down.     ");
                    }
                    else {
                        displayStatusMessage("error", "status: " + textstatus + "   text: [" + textstatus + "]   error: " + message);
                        alert("getArticleList ERROR: [" + xmlhttprequest.status + "]  textstatus: [" + xmlhttprequest.textstatus + "]   message: " + message);
                    }
                }
            });
        } catch (e) {
            $('#loadingGif').hide();
            displayStatusMessage("error", "tERROR" + e);
            alert("getArticleList catch: " + e);
        }
    }

    function formatArticleJog(article) {
        try {
            var webService = "https://api.curtisrhodes.com";
            var imgSrc = webService + "/App_Data/Images/" + article.ImageName;
            var articleHref = "/Article/ArticleView?Id=" + article.Id;
            var kludge = "<div class='articleListItem'>";
            kludge += "<div id='divImg'><a href=" + articleHref + "><img src=" + imgSrc + "></a></div>";
            kludge += "<div class='articleDetail'>";
            kludge += "<div class='articleTopRow'>";
            kludge += "<div class='articleRowItemLeft'><a href=/Article/ArticleList?filterLabel=" + article.CategoryLabel + "&filterType=Category&filter=" + article.CategoryRef + ">" + article.CategoryLabel + "</a></div>";
            kludge += "<div class='articleRowItemCenter'><a href=" + articleHref + ">" + article.Title + "</a></div>";
            kludge += "<div class='articleRowItemRight'>" + article.LastUpdated + "</div>";
            kludge += "</div>";  // top row
            kludge += "<a href=" + articleHref + "><div class='articleSummary'>" + article.Summary + "</div></a>";
            kludge += "<div class='articleBottomRow'>";
            kludge += "<div class='articleRowItemLeft'> By: <a href=/Article/ArticleList?filterLabel=" + article.ByLineLabel + "&filterType=Byline&filter=" + article.ByLineRef + ">" + article.ByLineLabel + "</a></div>";
            if (isArticeEditor == "True") {
                kludge += "<div class='articleRowItemRight'><a href=/Article/ArticleEdit?Id=" + article.Id + ">edit</a></div>";
            }
            kludge += "</div>";  // bottom row
            kludge += "</div>";  // article detail 
            kludge += "</div>";  // article listItem
            $('#articleListContainer').append(kludge);
            articleCount++;
        } catch (e) {
            alert("formatArticleJog error: " + e);
        }
    }

</script>
