
<style>
    .threeColumnArray {
        background-color: #fef; /*#b081b1*/
    }

    .flexWrapContainer {
        border: solid 4px red;
        margin-top: 16px;
        background-image: linear-gradient(#b190b6, #b84cc8);
        border: solid thin black;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    .thumbImage {
        height: 200px;
        cursor: pointer;
        /*
            border: dashed thin black;
            margin-bottom: -3px;
            width: 100%;*/
    }

    .loadingGif {
        left: 150px;
        top: 140px;
        height: 140px;
    }

    .folderFirsty {
        border: solid 4px #ff00dc;
        margin: 4px;
        height: 222px;
    }

    :after {
        border: solid 1px #ff00dc;
        margin: 2px;
    }

    .fname {
        background-color: #ff00dc;
        text-align: center;
        font-family: 'Comic Sans MS';
    }

    .divPage {
        float: left;
        padding: 3px;
        border: solid thin black;
        margin-right: 6px;
        cursor: pointer;
        background-color: #fef;
    }

    .countContainer {
        width: 100%;
        text-align: right;
    }

    .testMessage {
        margin-top: 15px;
    }
    .floatingCrudDialog {
        z-index: 120;
    }
    .ogContextMenu {
        position: absolute;
        background-color: #e1e1de;
        border: solid 2px #923c76;
        padding: 8px 10px;
        display: none;
        z-index: 110;
    }

        .ogContextMenu div {
            padding: 8px;
            margin: 2px;
            background-color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }

    .hiddeClickArea {
        position: absolute;
        width: 50%;
        display: inline-block;
        top: 100px;
        float: left;
        height: 100%;
        z-index: 100;
    }

    .roundendButton {
        margin-top: 6px;
        display: inline-block;
    }

    .copyDialogImage {
        float: left;
        height: 100px;
        margin-right: 7px;
    }

    .dropdownButton {
        height: 21px;
        cursor: pointer;
        padding: 7px;
        margin-top: 21px;
    }

    .pusedoTextBox {
        display: inline-block;
        border: solid thin #000;
        min-width: 266px;
        padding-top: 4px;
        min-height: 30px;
    }

    .hideableDropDown {
        display: inline-block;
        max-height: 300px;
        overflow-y: auto;
        display: none;
    }

    .expandoImageViewer {
        display: inline-block;
        position: absolute;
        border: solid 6px lime;
        min-height: 200px;
        background-color: #999;
        display: none;
        overflow: hidden;
    }

    .expandoImage {
        object-fit: contain;
        transition: all .75s ease-in-out;
    }

    .expandoImageDiv {
        float: left;
    }

    .viewerImageNav {
        float: left;
        cursor: pointer;
    }

    .closeButton {
        margin-top: -5px;
        margin-right: -5px;
        padding-left: 10px;
    }

    .magnifyingGlass {
        cursor: pointer;
        position: absolute;
        display: none;
        height: 70px;
        z-index: 4;
    }

    .popout {
        height: 27px;
        margin-right: 8px;
    }

    .slideShowContainer {
        display: inline-block;
        float: right;
        margin-right: 17px;
    }
    .leftSideButton {
        float: left;
        display: inline-block;
        margin-left: 50px;
        margin-bottom: 2px;
        height: 30px;
        cursor: pointer;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divBreadCrumbs"></div>
        <div id="divStatusMessage"></div>
        <img id="getImagesLoadingGif" class="loadingGif" src="~/Images/loader.gif" />
        <div id="imageContainer" class="flexWrapContainer"></div>
        <div id="fileCount" class="countContainer"></div>
        <div id="text55"></div>
    </div>
    <div id="rightColumn"></div>
</div>

<div id="customViewer" class="expandoImageViewer">
    <div id="expandoViewerBanner" class="floatingCrudBanner">
        <div id="prev" class="viewerImageNav" onclick="slide('prev')">PREV</div>
        <img id="imgComment" class="leftSideButton" title="comment" onclick="showCommentDialog()" src="~/Images/comment.png" />
        <span id="expandoBannerText"></span>
        <div onclick="$('#customViewer').hide(); viewerShowing = false;" class="farSide"><img class="closeButton" src="~/Images/close.png" height="35" /></div>

        <div id="next" class="farSide" onclick="slide('next')">NEXT</div>
        <div class="farSide" onclick="blowupImage()"><img class="popout" src="~/Images/expand02.png" /></div>
        <div class="slideShowContainer">
            <div class="farSide" onclick="runSlideShow('faster')"><img id="fasterSlideshow" title="faster slideshow" class="popout" src="~/Images/slideshowFaster.png" /></div>
            <div class="farSide" onclick="runSlideShow('start')"><img id="showSlideshow" title="start slideshow" class="popout" src="~/Images/slideshow.png" /></div>
            <div class="farSide" onclick="runSlideShow('slower')"><img id="slowerSlideShow" title="slower slideshow" class="popout" src="~/Images/slideshowSlower.png" /></div>
        </div>
    </div>
    @*<img id="magnifyingGlass" class="magnifyingGlass" src="~/Images/Loupe.png" onclick="blowupImage()" /></div>*@
    <div class="expandoImageDiv">
        <div id="leftClickArea" onclick="slide('prev')"  contextmenu="viewerContextMenu()" class="hiddeClickArea"></div>
        <div id="rightClickArea" onclick="slide('next')" contextmenu="viewerContextMenu()" class="hiddeClickArea" style="left:50%;"></div>
        <img id="viewerImage" class="expandoImage" />
    </div>
</div>

<style>
    .megaView {
        position: absolute;
        border: solid 6px #b84cc8;
        background-color: #ddd;
        display: none;
        min-height: 400px;
        min-width: 300px;
        top: 100px;
        left: 100px;
    }

    #megaImage {
        width: 100%;
        height: 100%;
    }
</style>

<div id="megaView" class="megaView">

    <img id="megaImage" onclick="$('#megaView').hide()" />
</div>

<div id="thumbImageContextMenu" class="ogContextMenu" onmouseleave="$(this).fadeOut();">
    <div>Copy</div>
    <div>Move</div>
    <div>Remove</div>
    <div>Comment</div>
    <div>About</div>
</div>

<div id="moveCopyDialog" class="floatingCrudDialog">
    <div class="floatingCrudBanner"><span id="dialogBannerText">Copy Image Link</span><div onclick="$('#moveCopyDialog').fadeOut()" class="farSide">x</div> </div>
    <div class="floatingCrudContainer flexContainer">
        <img id="copyDialogImage" class="copyDialogImage" />
        <div>
            <div id="dirTreeContainer" class="copyTree">
                <div id="dirTreeResults" class="pusedoTextBox"></div>
                <div id="dirTreeDropDown" class="hideableDropDown">
                    @Html.Partial("_DirTree");
                </div>
            </div>
            <img id="pusedoDropdown" class="dropdownButton" src="~/Images/caretDown.png" onclick="$('#dirTreeResults').hide();$('#dirTreeDropDown').show()" />
            <div id="btnCopyLink" class="roundendButton" onclick="copyLink(false)">Copy</div>
            <div id="btnMoveLink" class="roundendButton" onclick="copyLink(true)">Move</div>
        </div>
    </div>
</div>


<style>
    .folatingBox {
        position: absolute;
        border: solid thin orange;
        top: 400px;
        left: 85%;
        min-height: 50px;
        min-width: 200px;
        background-color: #e7dbe9;
        padding: 5px;
        display: none;
    }
</style>
<div id="debugMessageArea" class="folatingBox">
    <div id="msg1"></div>
    <div id="msg2"></div>
    <div id="msg3"></div>
    <div id="msg4"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var folderPath = '@ViewBag.Folder';
    var currentUser = '@User.Identity.Name';
    var ipAddress = '@ViewBag.IpAddress';
    var page = 0;
    var mySubDirs = new Array();
    var thumbImageHeight = 200;
    var currentContextImageId;
    var currentContextFolderId;
    var imageArray = new Array();
    var imageArrayIndex = 0;
    var exploderInterval;
    var viewerShowing = false;
    var slideShow;
    var slideShowSpeed = 0;

    $(document).ready(function () {
        if (folderPath == "") {
            window.location.href = "/";
        }
        showBreadCrumbs(folderPath);

        if (folderPath.substr(folderPath, folderPath.indexOf("/")) == 'Porn') {
            setLayout("porn");
        }
        $('#expandoBannerText').html(folderPath.substr(folderPath.lastIndexOf("/") + 1));
        // set width
        $('#imageContainer').width($('#middleColumn').width());
        $('#imageContainer').css("max-height", $('#middleColumn').height() - 150);

        getImageLinks();
    });

    $(window).resize(function () {
        $('#imageContainer').width($('#middleColumn').width());
        $('#imageContainer').css("max-height", $('#middleColumn').height() - 150);
        if (viewerShowing)
            explodeViewer();
    });

    function getImageLinks() {
        try {
            var start = Date.now();
            $('#getImagesLoadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/ImageLink/Get?folder=" + folderPath,
                success: function (folderModel) {
                    if (!folderModel.DirectoryName.startsWith("ERROR")) {
                        var delta = (Date.now() - start) / 1000;
                        console.log("/api/ImageFolder/GetLinks?folder=" + folderPath+" took: " + delta.toFixed(3));

                        currentContextFolderId = folderModel.CategoryId;
                        // add folders to html view
                        $('#imageContainer').html('');
                        $.each(folderModel.SubDirs, function (idx, obj) {
                            $('#imageContainer').append("<div path='" + obj.Path + "' class='folderFirsty'><img class='thumbImage' src='" +
                                obj.FirstImage + "'/><div class='fname'>" + obj.DirectoryName + "  (" + obj.Length + ")</div></div>");
                        })
                        $('.folderFirsty').click(function () {
                            window.location.href = "imagePage?folder=" + $(this).attr("path");
                        })

                        // add files
                        imageArray = new Array();
                        $('#slideShowLink').show();
                        var fileCount = 0;
                        $.each(folderModel.Files, function (idx, obj) {
                            $('#imageContainer').append("<div><img id=" + obj.ImageId + " idx=" + fileCount + " class='thumbImage' src='" + obj.FileName + "'/></div>");
                            //"<img class='dots' src='/Images/dots.png' onmouseover=showContextMenu('" + obj.ImageId + "') />" +
                            fileCount++;

                            imageArray.push({
                                Index: fileCount,
                                Link: obj.FileName.replace(/ /g, "%20"),
                                ImageId: obj.ImageId
                            });
                        })

                        $('.thumbImage').click(function () {
                            showViewer($(this).attr("id"));
                        })

                        $('.thumbImage').contextmenu(function () {
                            //alert("id: " + $(this).attr("id"));
                            event.preventDefault();
                            window.event.returnValue = false;
                            showContextMenu($(this).attr("id"));
                        });

                        fileCount += folderModel.SubDirs.length;
                        $('#fileCount').html(fileCount);
                        $('#getImagesLoadingGif').hide();
                        if (ipAddress != "68.203.92.166") {
                            var emailSubject = currentUser + " just viewed " + folderPath;
                            sendEmailFromJS(emailSubject, "someday it will be someone other than " + ipAddress);
                        }
                    }
                    else {
                        $('#getImagesLoadingGif').hide();
                        alert("GetLinkFolders: " + folderModel.DirectoryName);
                    }
                },
                error: function (jqXHR, exception) {
                    $('#getImagesLoadingGif').hide();
                    alert("getImageLinks jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            $('#getImagesLoadingGif').hide();
            alert("GetLinkFolders CATCH: " + e);
        }
    }

    function showContextMenu(imageId) {
        currentContextImageId = imageId;
        var thisImage = $('#' + imageId + '');

        if (viewerShowing) {
            $('#thumbImageContextMenu').css("top", event.clientY + 5);
            $('#thumbImageContextMenu').css("left", event.clientX);
        }
        else {
            var picpos = thisImage.offset();
            var picLeft = picpos.left + thisImage.width() - $('.ogContextMenu').width() - 50;
            $('#thumbImageContextMenu').css("top", picpos.top + 5);
            $('#thumbImageContextMenu').css("left", picLeft);
        }
        $('#thumbImageContextMenu').fadeIn();
    }

    function slide(direction) {
        if (direction == 'next') {
            imageArrayIndex++;
            if (imageArrayIndex >= imageArray.length)
                imageArrayIndex = 0;

            $('#viewerImage').css("transform", "translateX(1100px)");
            setTimeout(function () {
                $('#viewerImage').hide();
                $('#viewerImage').css("transform", "translateX(-2200px)");
                $('#viewerImage').show();
                $('#viewerImage').attr("src", imageArray[imageArrayIndex].Link);
                $('#viewerImage').css("transform", "translateX(0)");
            }, 450);

        }
        if (direction == 'prev') {
            imageArrayIndex--;
            if (imageArrayIndex < 0) {
                imageArrayIndex = imageArray.length - 1;
            }

            $('#viewerImage').css("transform", "translateX(-1100px)");
            setTimeout(function () {
                $('#viewerImage').hide();
                $('#viewerImage').css("transform", "translateX(2200px)");
                $('#viewerImage').show();
                $('#viewerImage').attr("src", imageArray[imageArrayIndex].Link);
                $('#viewerImage').css("transform", "translateX(0)");
            }, 450);
        }
        $('#footerMessage').html("image: " + imageArrayIndex + " of: " + imageArray.length);
    }

    function showViewer(imageId) {
        var thisImage = $('#' + imageId + '');
        imageArrayIndex = thisImage.attr("idx");
        viewerShowing = true;

        var picpos = thisImage.offset();
        $('#customViewer').css("top", picpos.top - 100);
        $('#customViewer').css("left", picpos.left);
        $('#customViewer').width(100);
        $('#customViewer').height(150);
        $('#customViewer').show();
        $('#viewerImage').attr("src", thisImage.attr("src"));

        viewAreaTop = Number($('#middleColumn').position().top + 10);
        viewAreaLeft = Number($('#middleColumn').position().left);
        viewAreaWidth = Number($('#middleColumn').width());
        viewAreaRight = viewAreaWidth + viewAreaLeft;

        $('.hiddeClickArea').contextmenu(function () {
            event.preventDefault();
            window.event.returnValue = false;
            showContextMenu(imageArray[imageArrayIndex].ImageId);
        });

        exploderInterval = setInterval(function () {
            explodeViewer()
        }, 8);
    }

    var viewAreaTop;
    var viewAreaLeft;
    var viewAreaWidth;
    var viewAreaRight;
    function explodeViewer() {
        var Xincrimentor = 15;
        var Yincrimentor = 10;

        var margin = 100;
        var viewAreaHeight = Number($('#middleColumn').height() - 150);

        if ((Number($('#customViewer').width()) >= viewAreaWidth) &&
            (Number($('#customViewer').height()) >= viewAreaHeight)) {
            clearInterval(exploderInterval);
            $('#customViewer').css("top", viewAreaTop + "px");
            $('#customViewer').css("left", " " + viewAreaLeft + "px");
            $('#viewerImage').height($('#customViewer').height() - 50);
            $('#viewerImage').width($('#customViewer').width());
            //$('#magnifyingGlass').show();
            //alert("done");
        }

        if ($('#customViewer').height() < viewAreaHeight) {
            $('#customViewer').height($('#customViewer').height() + Yincrimentor);
        }
        if ($('#customViewer').height() > viewAreaHeight) {
            $('#customViewer').height(viewAreaHeight)
        }
        if ($('#customViewer').width() < viewAreaWidth) {
            $('#customViewer').width($('#customViewer').width() + (Xincrimentor * 2));
        }
        if ($('#customViewer').width() > viewAreaWidth) {
            $('#customViewer').width(viewAreaWidth)
        }
        if ($('#customViewer').position().top > viewAreaTop) {
            $('#customViewer').css("top", $('#customViewer').position().top - Yincrimentor);
        }


        var imageRight = Number($('#customViewer').width() + $('#customViewer').position().left);
        if (imageRight > viewAreaRight) {
            //alert("imageRight(" + imageRight + ") > viewAreaRight (" + viewAreaRight + ")  delta: " + (imageRight - viewAreaRight));
            $('#customViewer').css("left", $('#customViewer').position().left - (imageRight - viewAreaRight));
        }

        //$('#viewerImage').height($('#customViewer').height() - 50);
        //$('#viewerImage').width($('#customViewer').width());
    }

    $('.ogContextMenu div').click(function () {
        var action = $(this).html();
        switch (action) {
            case "Copy":
                $('#btnCopyLink').show();
                $('#btnMoveLink').hide();
                $('#dialogBannerText').html("Copy Image Link");
                $('#copyDialogImage').attr("src", $('#' + currentContextImageId + '').attr("src"));
                $('#moveCopyDialog').show();
                break;
            case "Move":
                $('#btnCopyLink').hide();
                $('#btnMoveLink').show();
                $('#dialogBannerText').html("Move Image Link");
                $('#copyDialogImage').attr("src", $('#' + currentContextImageId + '').attr("src"));
                $('#moveCopyDialog').show();
                break;
            case "Remove":
                if (confirm("remove this link")) {
                    removeLink();
                }
                break;
            case "Comment":
                addComment();
                break;
            case "About":
                aboutThisImage()
                break;
            default:
                $('#msg1').html(action);
        }
    });

    function removeLink() {
        var badLink = {};
        badLink.ImageId = currentContextImageId;
        badLink.PathId = currentContextFolderId;
        $.ajax({
            type: "DELETE",
            url: service + "/api/ImageLinkCategory",
            data: badLink,
            success: function (success) {
                if (success == "ok") {
                    if (viewerShowing)
                        slide("next");
                    getImageLinks();
                }
                else {
                    alert("CreateVirtualFolder: " + success);
                }
            },
            error: function (xhr) {
                alert("delete xhr error: " + xhr.statusText);
            }
        });
    }

    var newLink = {};
    function copyLink(andRemove) {
        newLink.ImageId = currentContextImageId;
        newLink.Link = $('#' + currentContextImageId + '').attr("src");
        $.ajax({
            type: "PUT",
            url: service + "/api/ImageLinkCategory",
            data: newLink,
            success: function (success) {
                if (success == "ok") {
                    $('#moveCopyDialog').hide()
                    displayStatusMessage("ok", "link added to " + $('#dirTreeDropDown option:selected').text())
                    if (andRemove) {

                        var badLink = {};
                        badLink.ImageId = newLink.ImageId;
                        badLink.PathId = currentContextFolderId;
                        $.ajax({
                            type: "DELETE",
                            url: service + "/api/ImageLinkCategory",
                            data: badLink,
                            success: function (success) {
                                if (success == "ok") {
                                    getImageLinks();
                                    if (viewerShowing)
                                        slide("next");
                                }
                                else {
                                    alert("CreateVirtualFolder: " + success);
                                }
                            },
                            error: function (xhr) {
                                alert("delete xhr error: " + xhr.statusText);
                            }
                        });

                    }
                }
                else {
                    alert("CreateVirtualFolder: " + success);
                }
            },
            error: function (xhr) {
                alert("CreateVirtualFolder xhr error: " + xhr.statusText);
            }
        });
    }

    function showCommentDialog() {

    }



    function aboutThisImage() {

    }

    function blowupImage() {

        //var thisLink = document.getElementById(imageArray[imageArrayIndex].ImageId)

            //imageArray[imageArrayIndex].Link;  //$('#viewerImage').attr("src");

        //var test1 = thisLink.scrollHeight;
        //var test2 = thisLink.scrollWidth;
        //alert("couold be h: " + test1 + " w: " + test2);

        //$('#megaImage').attr("src", imageArray[imageArrayIndex].Link);
        //$('#megaView').show();
       // alert("hello")
        //event.cancelBubble();
        //$('#customViewer').hide(); viewerShowing = false
        //return false;
        window.open(imageArray[imageArrayIndex].Link, "_blank");
    }

    function treeToggle(id) {
        //alert($('#' + id + '').css("display"));
        if ($('#' + id + '').css("display") == "none") {
            $('#S' + id + '').html("[-] ");
        }
        else
            $('#S' + id + '').html("[+] ");
        $('#' + id + '').toggle();
    }
    function clickPath(path, id) {
        newLink.PathId = id;
        $('#dirTreeResults').show();
        $('#dirTreeResults').html(path.replace(/%20/g, " "));
        $('#dirTreeDropDown').hide();
    }

    $(document).keydown(function (event) {
        //  8  back

        //  34 pg down
        //  38 up arrow
        //  40 down arrow
        switch (event.which) {
            //case 38: scrollTabStrip('foward'); break;
            //case 33: scrollTabStrip('foward'); break;
            case 34:                        // pg down
            case 40:                        // dowm arrow
            case 37:                        // left arrow
                slide('prev');
                break;
            case 13:                        // enter
            case 38:                        // up arrow
            case 39:                        // right arrow
                slide('next');
                break;
            case 122: $('#standardHeader').hide(); break; // F11
            //default:
            //  $('#expandoBannerText').html("event.which: " + event.which)
            //  alert("event.which: " + event.which)
        }
    });

    function runSlideShow(action) {
        //alert("slideShow action: " + action)

        if (action == 'start') {
            if ($('#showSlideshow').attr("Title") == "start slideshow") {
                $('#showSlideshow').attr("Title", "stop slideshow");
            }
            else {
                $('#showSlideshow').attr("Title", "start slideshow");
                $('#fasterSlideshow').attr("Title", "faster slideshow");
                $('#slowerSlideShow').attr("Title", "slower slideshow");
                clearInterval(slideShow);
                return;
            }
        }
        if (slideShowSpeed == 0) {
            slideShowSpeed = 5000;
        }
        if (action == "faster") {
            slideShowSpeed -= 1000;
        }
        if (action == "slower") {
            slideShowSpeed += 1000;
        }
        if (slideShowSpeed <= 0) {
            $('#showSlideshow').attr("Title", "start slideshow");
            $('#fasterSlideshow').attr("Title", "faster slideshow");
            $('#slowerSlideShow').attr("Title", "slower slideshow");
            clearInterval(slideShow);
        }
        else {
            slide('next');
            $('#fasterSlideshow').attr("Title", "slideshow " + (10 - (slideShowSpeed / 1000)) + "x");
            $('#slowerSlideShow').attr("Title", "slideshow " + (10 - (slideShowSpeed / 1000)) + "x");
            clearInterval(slideShow);
            slideShow = setInterval(function () {
                slide('next');
            }, slideShowSpeed);
        }
    }

</script>