<link href="~/Styles/modalDialog.css" rel="stylesheet" />
<script src="~/Scripts/GlobalFunctions.js"></script>
<link href="~/Styles/default.css" rel="stylesheet" />

<style>
    #userProfileDialog {
        position: absolute;
        top: 28%;
        left: 43%;
        box-sizing: content-box;
        color: #242729;
        width: 280px;
        padding: 30px;
        border: 1px solid #e4e6e8;
        background: #fff;
        z-index: 200;
    }

    #divButtonRow {
        margin-top: 4px;
    }
</style>

<div id="userProfileDialog">
    <div id="divStatusMessage"></div>
    <div class="dialogHeader">
        Modify Profile for <span>The Brucheum</span>
        <div id="btnClose" class="divCloseButton">
            <img height="19" src="~/Images/powerOffRed01.png" />
        </div>
    </div>
    <div style="clear:both"></div>
    <div id="errSummary" class="validationError"></div>
    <label>User Name</label><br>
    <input id="txtUserName" type="text" value="@User.Identity.Name" class="roundedInput" placeholder="your go by name"><br>
    <label>Email</label><br>
    <input id="txtEmail" type="email" class="roundedInput" value="" placeholder="you@example.org"><br>
    <label>FirstName</label><br>
    <input id="txtFirstName" type="text" class="roundedInput"><br>
    <label>Last Name</label><br>
    <input id="txtLastName" type="text" class="roundedInput"><br>
    <label>Phone Number</label><br>
    <input id="txtPhone" type="tel" class="roundedInput"><br>
    <label>Pin</label><br>
    <input id="txtPin" type="text" class="roundedInput" placeholder="you may use this in place of your password"><br>
    <div id="divButtonRow">
        <button class="roundendButton" style="float:left" id="btnUpdate">Update</button>
        <button class="roundendButton" style="float:left" id="btnCancel">Cancel</button>
    </div>
</div>

<script>
    var _FirstName = '@ViewBag.FirstName';
    var _LastName = '@ViewBag.LastName';
    var _PhoneNumber = '@ViewBag.PhoneNumber';
    var _UserName = '@ViewBag.UserName';
    var _Email = '@ViewBag.Email';
    var userProfile = new Object();

    $(document).ready(function () {

        //alert("response.UserName: " + response.UserName);
        //alert("appUser: " + appUser);


        //bind(appUser);
        $('#txtUserName').val(_UserName);
        $('#txtEmail').val(_Email);
        $('#txtFirstName').val(_FirstName);
        $('#txtLastName').val(_LastName);
        $('#txtPhone').val(_PhoneNumber);

        $('#txtUserName').focus();
    });

    $('#btnUpdate').click(function () {
        try {
            if ($('#btnUpdate').html() == "Update") {
                $('#btnUpdate').html("Wait");

                //unBind();
                //userProfile.UserId = userId;
                userProfile.UserName = $('#txtUserName').val();
                userProfile.Email = $('#txtEmail').val();
                userProfile.FirstName = $('#txtFirstName').val();
                userProfile.LastName = $('#txtLastName').val();
                userProfile.PhoneNumber = $('#txtPhone').val();
                //userProfile.Pin = $('#txtPin').val();

                $.ajax({
                    type: "PUT",
                    url: "/Login/UpdateProfile",
                    //dataType: "json",
                    data: userProfile,
                    success: function (success) {
                        if (success === "ok") {
                            $('#errSummary').hide();
                            $('#btnUpdate').html("Update");

                            //alert("calling email");
                            sendEmailFromJS(userProfile.UserName + " just updated their profile onThe Brucheum", "someday it will be someone other than you");
                            //clearModal();
                        }
                        else {
                            $('#errSummary').html(success);
                            $('#errSummary').show();
                            $('#btnUpdate').html("Update");
                        }
                    },
                    error: function (xhr) {
                        displayStatusMessage("error", "error: " + xhr.statusText);
                        alert("_ProfilePopup UpdateProfile error: " + xhr.statusText);
                    }
                });
            }
        } catch (e) {
            displayStatusMessage("_ProfilePopup catch error", "ERROR" + e);
            alert("_ProfilePopup ajax catch error: " + xhr.statusText);
        }
    });

    $('#btnClose, #btnCancel').click(function () {
        clearModal();
    });
</script>
