@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Intelligent Design Software</title>
    <link rel="shortcut icon" src="~/Images/brain02.ico" type="image/x-icon" />
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="~/Scripts/GlobalFunctions.js"></script>
    <link href="~/Styles/fixedHeader.css" rel="stylesheet" />
    <script src="~/Scripts/ResizeThreeColumnPage.js"></script>
    <style>
        body {
            background-color: #222730; /* #273235; #486167;*/
            color: #fff;
        }

        .headerTitle {
            color: #333;
        }

        .bannerImage {
        }

        .menuTab a:hover {
            background-color: #eee;
        }
    </style>
</head>
<body>

    <div id="idheader" class="standardHeader">
        <div class="bannerImageContainer">
            <a href="~/IntelDsgn/Index"><img src="~/images/intel01.jpg" class="bannerImage" /></a>
        </div>
        <div class="headerBodyContainer">
            <div class="headerTitle">Intelligent Design Software</div>

            <div class="menuTabContainer">
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/About/">Who We Are</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/Index?a=2">Our Approach</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/Portfolio">Portfolio</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/Code">Sample Code</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/Articles">Articles</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/Index?a=3">Contact Us</a></div>
                <div class="menuTab floatLeft"><a href="~/IntelDsgn/MyResume">My Resume</a></div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="menuTab floatLeft"><a href="~/Admin">Admin</a></div>
                }

                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab floatRight"><a href="javascript:logoutPlease()">Log 4Out</a></div>
                    <div class="menuTab floatRight" title="modify profile"><a href="javascript:profilePease()">Hello  @User.Identity.GetUserName()</a></div>
                }
                else
                {
                    <div class="menuTab floatRight"><a href="javascript:registerPlease()">Register</a></div>
                    <div id="btnLayLogin" class="menuTab floatRight">
                        <a href="javascript:loginPlease()">Log In</a>
                        <img id="btnHeaderLoginSpinner" class="btnSpinnerImage" src="~/Images/loader.gif" />
                    </div>
                }

            </div>
        </div>
        <div class="noFloat"></div>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>
    @Html.Partial("_IdFooter")
    <div id="modalContainer" class="modalVail">
        <div id="modalContent"></div>
    </div>
    @RenderSection("scripts", required: false)
    <script>resizePage();</script>
</body>
</html>


